{{question-options questionName=questionName saveQuestion='saveQuestion' validQuestion=validQuestion enableAddToDashboard=enableAddToDashBoard
addToDashboard='addToDashboard' question=question newQuestion=newQuestion showVariables=showVariables transitionToIndex="transitionToIndex" transitionToSnapshots="transitionToSnapshots"
canCreateSnapshot=canCreateSnapshot canEdit=canEdit }}
<div class="container p-0 mt-5">
    <div class="row">
        <div class="{{if showVariables " col-9 " "col-12 "}}">
            {{variables-layer variables=question.query_variables showVariables=showVariables}}
            <div class="row">
                <div class="{{if (and queryBuilderType canEdit) 'col-3' 'col-12'}}">
                    {{#if (and queryBuilderType canEdit)}} {{query-builder loading=loading getResults='getResults' toggleSql='toggleSql' queryObject=queryObject
                    showGetResults=showGetResults databases=databases}}
                    {{/if}}
                </div>
                <div class="{{if (and canEdit queryBuilderType) 'col-9' 'col-12'}}">
                    {{#if (and queryBuilderType canEdit)}} {{else}}
                    <div class="row">
                        <div class="col-12">
                            <div class="card {{if collapseSqlEditor 'card-collapsed'}}">
                                {{#if canEdit}}
                                <div class="row card-header">
                                    <div class="col-2">
                                        {{database-selector queryObject=queryObject showTags=false databases=databases}}
                                    </div>
                                    <div class="card-options">
                                        <a href="#" {{action 'toggleSqlEditor'}}>
                                            <i class="fe fe-chevron-up"></i>
                                        </a>
                                        <a class="text-right" {{action 'toggleSql'}}>
                                            {{#bs-tooltip placement="top" }}Switch to Query Builder{{/bs-tooltip}}
                                            <i class="fe fe-align-justify text-gray"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{#if queryObject.database}}
                                        <div class="col-3"> {{db-tree database=queryObject.database}} </div>
                                        {{/if}}
                                        <div class="{{if queryObject.database 'col-9' 'col-12'}}"> {{ember-ace lines=15 value=queryObject.rawQuery mode=aceMode enableSnippets=true enableDefaultAutocompletion=true enableLiveAutocompletion=true
                                    context=queryObject.database suggestAutoCompletions=suggestAutoCompletions theme=aceTheme useWrapMode=true
                                    update=(action (mut queryObject.rawQuery)) ready=(action 'setEditorWhenReady')}}
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if (or results errorMessage)}}
                                <div class="card-footer {{if canEdit "" "border-top-0"}}">
                                    {{additional-filters results=results error=errors question=question queryObject=queryObject}}
                                </div>
                                {{/if}}
                                {{#if showGetResults}}
                                <div class="card-footer">
                                    {{#if canEdit}}
                                    {{#if loading}}
                                    <div class="content active text-align-center">
                                        <button class="btn btn-secondary"> Crunching Data ... </button>
                                    </div>
                                    {{else}}
                                    <div class="content active text-align-center">
                                        <button class="btn btn-primary" {{action 'getResults'}}> Get
                                            Results <i class="fe fe-arrow-right text-white"></i>
                                        </button>
                                    </div>
                                    {{/if}}
                                    {{else}}
                                    {{#if loading}}
                                    <div class="content active text-align-center">
                                        <button class="btn btn-secondary"> Crunching Data ... </button>
                                    </div>
                                    {{else}}
                                    <div class="content active text-align-center">
                                        <button class="btn btn-primary" {{action 'getQuestionResults'}}> Refresh
                                        </button>
                                    </div>
                                    {{/if}}
                                    {{/if}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{#if canEdit}}
                    {{# if (or errors.final_query (or variablesReplacedQuery isQueryLimited))}}
                    <div class="mb-5">
                        {{#if (or results.final_query errors.final_query)}} {{final-query-accordian isQueryLimited=isQueryLimited
                                queryLimit=queryLimit
                                variablesReplacedQuery=variablesReplacedQuery
                                aceMode=aceMode
                                finalQuery=(or results.final_query errors.final_query)
                                additionalFiltersApplied=results.additional_filters_applied 
                                aceTheme=aceTheme}}
                        {{/if}}
                    </div>
                    {{/if}}
                    {{/if}}
                    {{#if (or results errorMessage)}}
                    {{#if (and queryBuilderType canEdit)}}
                    <div class="card">
                        <div class="card-header">

                            {{additional-filters results=results error=errors question=question queryObject=queryObject}}
                        </div>

                    </div>

                    {{/if}}
                    {{/if}}
                    {{#if results}}
                    <div class="card {{fullscreenClass}}">
                        <div class="card-header row results-view-selector">
                            <div class="col-3" bubbles=false> {{searchable-select class="my-2 w-75 d-inline-block" content=availableResultsTypesHash selected=resultsViewTypeTitle prompt="Select
                                a Visualization" on-change=(action 'updateResultViewType')}}
                                <span>
                                    {{#bs-tooltip placement="top" }}Configure Visualization{{/bs-tooltip}}
                                    <i class="fe fe-settings text-gray" {{action 'toggleSettings'}}></i>
                                </span>
                            </div>
                            <div class="col-3 offset-6 text-right">
                                {{#if (can "download question")}}
                                <span class="px-1" {{action "downloadData"}}>
                                    {{#bs-tooltip placement="top" }}Download Data{{/bs-tooltip}}
                                    <i class="fe fe-save text-gray"></i>
                                </span>
                                {{/if}}
                                {{#if question.updated_at}}
                                <span class="px-1">
                                    {{#bs-tooltip placement="top" }}Updated
                                    {{moment-from-now question.updated_at interval=1000}}{{/bs-tooltip}}
                                    <i class="fe fe-clock text-{{question.updatedAgoColor}}"></i>
                                </span>
                                {{/if}}
                                <span class="pl-1" {{action "toggleFullscreen"}}>
                                    {{#bs-tooltip placement="top" }}toggleFullScreen{{/bs-tooltip}}
                                    <i class="fe fe-maximize text-gray"></i>
                                </span>
                            </div>
                        </div>
                        {{#if showSettings}}
                        {{component resultsWidgetSettingsComponent  resultsViewSettings=resultsViewSettings results=results database=queryParams.database table=queryParams.table }}
                        {{/if}}
                        <div class="card-body p-0"> {{question-widget results=results resultsViewSettings=resultsViewSettings resultsViewType=resultsViewType questionName=questionName
                            hideMenu=true question=question resizeTime=resizeTime}}
                        </div>
                    </div>
                    {{else}}
                    {{#if loading}}
                    <div class="card results">
                        <div class="card-body">
                            <div class="dimmer active p-8">
                                <div class="loader big text-primary"> </div>
                                <div class="dimmer-content full-height"></div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="card results">
                        {{#if errorMessage}}
                        <div class="query error section text-red">
                            <div class="ui big">
                                <i class="fe fe-x-circle text-red"></i>
                            </div> {{errorMessage}}
                        </div>
                        {{else}}
                        <div class="section">Wanna see something cool? Run a Query!</div>
                        {{/if}}
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
        {{#if showVariables}}
        <div class="col-3 pl-2">
            <label class="form-label">Variables</label>
            {{#each question.variables as |var|}}
            <div class="w-100">
                <div class="card p-4">
                    <i class="fe fe-x text-gray variable-remove" {{action "removeVariable" var}}></i>
                    {{create-variable entity=question variable=var}} </div>
            </div>
            {{/each}}
            <div class="btn btn-primary w-100" {{action 'addVariable'}}> Add Variable </div>
        </div>
        {{/if}}
    </div>
</div> {{next-transition-warning open=showTransitionWarning goAheadWithNextTransition='goAheadWithNextTransition'}}