<div class="header collapse d-lg-flex p-0">
<div class="container">
    <div class="nav nav-tabs border-0 flex-column flex-lg-row py-3 px-0">
            <div class="text-default">
                {{pageTitle}}
            </div>
    </div>
</div>
</div>
<div class="container px-0">
    {{#if showAllTags}}
        <div class="row py-4">
                <div class="tags">
                <span class="fs-1 tag font-weight-bold"> Tags: </span>
                {{#each tags as |tag|}}
                <span class="tag" style="background: {{tag.color}}; opacity: 0.8; font-size: 1rem;">
                {{#link-to  'tags.show' tag.id class="text-white"}}
                  {{tag.name}}
                  <span class="tag-addon"><i class="fe fe-tag"></i></span>
                {{/link-to}}
                </span>
                {{/each}}
              </div>
        </div>
    {{/if}}
    <div class="form-group">
      <div class="input-group input-icon">
        <span class="input-group-prepend" id="basic-addon3">
          <span class="input-group-text">Search a Question</span>
        </span>
        {{input value=query class="ui form-control" placeholder="Search Question" aria-describedby="basic-addon3" }}
        <div class="input-icon-addon">
          <i class="fe fe-search"></i>
        </div>
      </div>
    </div>
  </div>
<div class="container px-0">
    <div class="row">
        {{#if query}}
            {{questions-list questions=searchedQuestions transitionToSnapshots="transitionToSnapshots"}}
        {{else}}
            {{questions-list questions=questions transitionToSnapshots="transitionToSnapshots"}}
        {{/if}}
    </div>
</div>
