<div class="header collapse d-lg-flex p-0">
    <div class="container"> </div>
</div>
<div class="container px-0">
    <div class="form-group pt-4">
        <div class="input-group input-icon">
            <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">Search a Question</span>
            </span> {{input value=query class="form-control" placeholder="Search Snapshot" aria-describedby="basic-addon3" }}
            <div
                class="input-icon-addon">
                <i class="fe fe-search"></i>
            </div>
        </div>
    </div>
    {{#if query}} {{snapshots-list questions=searchedSnapshots selectedSnapshot=selectedSnapshot editSnapshot='editSnapshot' stopSnapshot='stopSnapshot'}}
        {{else}}{{snapshots-list snapshots=question.snapshots selectedSnapshot=selectedSnapshot editSnapshot='editSnapshot' stopSnapshot='stopSnapshot'}}
        {{/if}}
</div> {{snapshot-creator snapshot=selectedSnapshot open=toggleEditSnapshot edit=true}}