<div class="padded-content ui segment full no-border-radius no-border-top no-bottom-margin">
    <div class="ui grid">
        <div class="ten wide column ">
            <div class="dashboard-title">
                Snapshots of Question: {{question.title}}
            </div>
        </div>
    </div>
</div>
<div class="padded-content ui basic segment full no-border-radius no-border-top no-bottom-margin">
    <div class="ui form">
        <div class="field">
            {{input value=query class="ui bigger" placeholder="Search Snapshot" }}
        </div>
    </div>
</div>
<div class="ui basic segment full padded-content no-top-margin">
    <div class="ui grid full">
        {{#if query}}
            {{snapshots-list questions=searchedSnapshots}}
        {{else}}
            {{snapshots-list snapshots=question.snapshots}}
        {{/if}}
    </div>
</div>
