<div class="row tags mb-2">
    {{#each variables as |variable|}}

    {{#bs-dropdown closeOnMenuClick=false class="tag tag-primary" as |dd|}}
    {{#dd.toggle class="text-white "}}
    {{capitalize variable.name}}
    <div class="tag-addon">
        {{#if (or variable.date_value variable.value)}}
        {{format-object (or variable.date_value (or variable.displayValue variable.value))}}
        {{else}}
        Select Value
        {{/if}}

    </div>
    {{/dd.toggle}}

    {{#dd.menu renderInPlace=false as |ddm|}}
    {{#if variable.showDatePicker}}

    {{bs-datetimepicker class="d-block" date=variable.date_value inline=true useCurrent='day'}}
    {{else}}
    {{#if variable.showMultiSelect}}
    {{custom-single-select-content
    selectCallbackAction=(action 'selectVariableValue' variable)
    dropdownClass="menu-content max-height-400"
    elseMessage="No matching value"
    options=variable.questionFilterOptions value=tempValue
    displayKey="name" }}
    {{else}}
    {{input class="form-control" type="text" value=variable.value placeholder=variable.default}}
    {{/if}}
    {{/if}}
    {{/dd.menu}}
    {{/bs-dropdown}}
    {{/each}}
</div>