<span class="step-number">
  <button class="ui circular violet icon button">
    {{number}}
  </button>
</span>
<span class="alert-simple-text">
  When 
</span>
<span class="empty-space"></span>
<span class="ui form">
  <span class="field display-inline-block">
    {{#ui-dropdown class="search selection" selected=conf.operation onChange=(action (mut conf.operation))  as |execute mapper|}} 
      <div class="default text">value</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each operations as |operation|}}
          <div class="item" data-value="{{map-value mapper operation}}">
            {{operation.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </span>
  {{#if showValueText}} 
    <span class="empty-space"></span>
    <span class="alert-simple-text">
      of values   
    </span>
  {{/if}}
  <span class="alert-simple-text">
    of  
  </span>
  <span class="empty-space"></span>
  <span class="field display-inline-block">
    {{#ui-dropdown class="search selection" selected=conf.column onchange=(action (mut conf.column))  as |execute mapper|}} 
      <div class="default text">Column Name</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each columns as |column|}}
          <div class="item" data-value="{{map-value mapper column}}">
            {{capitalize column}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </span>
  <span class="empty-space"></span>
  <span class="alert-simple-text">
    in  
  </span>
  <span class="empty-space"></span>
  <span class="field display-inline-block">
    {{#ui-dropdown class="search selection" selected=conf.within_type onChange=(action (mut conf.within_type))  as |execute mapper|}} 
      <div class="default text">any</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each withinTypes as |withinType|}}
          <div class="item" data-value="{{map-value mapper withinType}}">
            {{withinType.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </span>
  <span class="empty-space"></span>
  <span class="field display-inline-block">
    {{input value=conf.within_count class="ui" placeholder="1" }}
  </span>
  <span class="empty-space"></span>
  <span class="alert-simple-text">
    rows  
  </span>
  <span class="empty-space"></span>
  <span class="field display-inline-block">
    {{#ui-dropdown class="search selection" selected=conf.operator onchange=(action (mut conf.operator))  as |execute mapper|}} 
      <div class="default text">is</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each operators as |operator|}}
          <div class="item" data-value="{{map-value mapper question}}">
            {{operator.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </span>
  <span class="empty-space"></span>
  <span class="field display-inline-block">
    {{input value=conf.value class="ui" placeholder="value" }}
  </span>
  <span class="empty-space"></span>
  <span class="alert-simple-text">
    , raise  
  </span>
  <span class="empty-space"></span>
  <span class="ui alert-state {{color}} button">{{type}}</span>
</span>
