{{#each snapshots as |snapshot|}}
    <div class="ui segment full">
        <div class="row">
            <div class="col-9">
                <div class="d-flex align-items-center">
                    <span class="avatar mr-2 text-white bg-primary">
                        <i class="fe fe-database"></i>
                    </span>
                    <div>
                        <h5 class="m-0 text-default"> {{snapshot.name}} </h5>
                        {{#if snapshot.scheduled}}
                            <small class="text-muted">
                                <b>Scheduled Every:</b> {{snapshot-time snapshot.interval}},</small>
                            <small class="text-muted">
                                <b>Subscribers:</b> {{snapshot.mail_to}}</small>
                        {{else}}
                            <small class="text-muted"> updated:{{momentize snapshot.updated_at}} </small>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-3 text-right">
                {{#if snapshot.should_save_data_to_db}}
                    {{#link-to 'questions.show.snapshots.show' snapshot.question.id snapshot.id}}
                        <button class="btn btn-link text-primary">VIEW </button>
                    {{/link-to}}
                {{/if}}
                {{#if snapshot.scheduled}}
                    <button class="btn btn-link text-primary" {{action 'editSnapshot' snapshot}}> EDIT </button>
                {{/if}}
                <button class="btn btn-link text-red" {{action 'deleteSnapshot' snapshot}}> DELETE </button>
            </div>
        </div>
    </div>
{{/each}} {{delete-dialogue entityName="snapshot" entity=questionToBeDeleted delete="deleteSnapshot"}}