
<div class="header collapse d-lg-flex p-0">
    <div class="container">
        <div class="nav nav-tabs border-0 flex-column flex-lg-row py-3 px-0">
            <div class="row">
                <div class="col-12">
                    <div class="text-default">
                         Columns in table: {{table.name}} in database: {{table.database.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container px-0 mt-5">

    <div class="form-group">
      <div class="input-group input-icon">
        <span class="input-group-prepend" id="basic-addon3">
          <span class="input-group-text">Search a Column</span>
        </span>
            {{input value=query class="form-control" placeholder="Search Table" }}
        <div class="input-icon-addon">
          <i class="fe fe-search"></i>
        </div>
      </div>
    </div>

    {{#if loading}}

                        <div class="dimmer active">
                          <div class="loader text-primary"></div>
                          <div class="dimmer-content">
                          </div>
                        </div>
    {{else}}

        <div class="card">
            <div class="table-responsive">
                 <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Data Type</th>
                    <th class="w-9">Description</th>
                    {{#if canEdit}}
                    <th>Actions</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each columns as |column|}}
                    <tr>
                        <td>
                            {{column.human_name}}
                        </td>
                        <td>
                            {{column.data_type}}
                        </td>
                        <td>
                            {{#if column.editMode}} 

                                <div class="form-group mb-0">
                                        {{input value=column.description class="form-control" placeholder="short description of this column" }}
                                </div>
                            {{else}}
                                {{column.description}}
                            {{/if}}
                        </td>
                        {{#if canEdit}}
                        <td>
                            {{#if column.editMode}} 
                                <span>  
                                    {{bs-tooltip placement=top title="Save"}}  
                                    <i class="fe fe-save text-gray mx-1" {{action "saveColumn" column}}></i>
                                </span>
                            {{else}}
                                
                                <span data-tooltip="Edit" data-inverted="">  
                                    {{bs-tooltip placement=top title="Edit"}}  
                                    <i class="fe fe-edit text-gray mx-1" {{action "editColumn" column}}></i>
                                </span>
                            {{/if}}
                        </td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        </div>
    {{/if}}
</div>
