<div class="ui grid">
    {{variable.name}}
    <div class="ui form full">
        <div class="sixteen wide column">
            <div class="field">
                <label>Default (mendatory)</label>
                {{#if showDatePicker}}
                    {{ui-calendar date=variable.default_date onChange=(action (mut variable.default_date)) placeholder="current_date" }}
                    <div class="ui horizontal divider">or</div>
                    {{input value=variable.default class="ui" placeholder="current_date" }}
                {{else}}
                    {{input value=variable.default class="ui" placeholder="default" }}
                {{/if}}
            </div>
        </div>
    </div>
</div>
