<div class="card">
    <div class="card-footer border-top-0">
        <div class="row">
            <div class="col-11">

                {{database-selector queryObject=queryObject toggleSql='toggleSql' databases=databases acc=acc}}
            </div>
            <div class="col-1 text-right p-1">
                <span class="right" data-tooltip="Switch to SQL" data-inverted="" data-variation="inverted"
                    {{action 'toggleSql'}}><i class="fe fe-terminal"></i></span>
            </div>

        </div>
    </div>

    {{subquery-builder queryObject=queryObject databases=databases acc=acc}}
    {{#if showGetResults}}
    {{#if loading}}
    <div class="content active">
        <button class="btn btn-secondary full rounded-0"> Crunching Data ... </button>
    </div>
    {{else}}
    <div class="content active">
        <button class="btn btn-primary full rounded-0" {{action 'getResults'}}> Get Results <i
                class="fe fe-arrow-right"></i>
        </button>
    </div>
    {{/if}}
    {{/if}}
</div>

{{api-action-modal hideSaveButton=true apiAction=apiAction open=toggleApiActionModal openPreview=openPreview results=results question=question columnReplacable=false resultViewPossibleKeys=resultViewPossibleKeys hideName=true}}
{{api-action-result transitionToQuestion='transitionToQuestion' canDebug=true result=results open=openPreview apiAction=apiAction question=question resultViewPossibleKeys=resultViewPossibleKeys}}
