{{#if sessionService.authenticated}}
    <div class="ui segment violet no-border-radius top-header">
        <div class="ui secondary menu violet">
            {{#link-to "index" }}{{app-logo logoSize="small"}}{{/link-to}}
            {{#if (can "show Dashboard")}}
                <a class="item">
                    {{#ui-dropdown class="ui dropdown menu-item"}}
                        {{dropdown-default  default="Dashboards" icon="dropdown"}}
                        <div class="menu">
                            {{#each dashboards as |dashboard|}}
                                <div class="item" {{action 'goToDashboard' dashboard}}>
                                    <span class="description">{{dashboard.question_count}}</span>
                                    {{dashboard.title}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </a>
            {{/if}}
            {{#if (can "show question")}}
                {{#link-to "questions.all" class="item"}}
                    Questions
                {{/link-to}}
            {{/if}}
            {{#if (can "create question")}}
                {{#link-to "questions.new" class="item"}}
                    New Question
                {{/link-to}}
            {{/if}}
            <div class="right menu">
                <a class="item">

                    <div class="item pp">
                        <img class="profile_pic" src="{{sessionService.user.profile_pic}}"/>
                    </div>
                    {{#ui-dropdown class="ui dropdown menu-item"}}
                        {{dropdown-default  default=sessionService.user.full_name icon="dropdown"}}
                        <div class="menu">

                            {{#if (can "show settings")}}
                                
                                {{#link-to 'settings' class="item" }}Settings{{/link-to}}
                            {{/if}}
                            <div class="item" {{action 'invalidateSession'}}>Logout</div>
                        </div>
                    {{/ui-dropdown}}
                </a>
            </div>
        </div>
    </div>
{{/if}}
