<div class="pl-3 pt-0">
    {{#each users as |user|}}
        <div class="card mb-3">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex align-items-center">
                            <span class="avatar mr-2 text-white bg-primary" style="background-image: url({{user.profile_pic}})">
                            </span>
                            <div>
                                <h5 class=" m-0 text-default "> {{user.full_name}} </h5>
                                <small class="text-muted "> {{user.email}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right ">
                        <button data-tooltip="Change User permissions " data-inverted=" " class="btn btn-link text-primary
                                " {{action 'showChangePermissionDialogue' user}}> EDIT PERMISSIONS </button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div> {{change-user-permissions-dialogue open=togglePermissionsModal user=toBeChangedUser permissionSets=permissionSets saveUserPermissions='saveUser'}}