{{#bs-modal position="center" open=open onHide=(action 'clear') as |modal|}}
   {{#modal.header}}
       <h4 class="modal-title">
        Add This Question to Dashboard
        </h4>
   {{/modal.header}}
   {{#modal.body}}
        <div class="mb-2">
        Which dashboard do you want to add this question to?
        </div>
            <div class="tags">
                {{#each dashboards as |dashboard|}}
                <span class="tag" {{action 'addToDashboard' dashboard}}>
                    {{dashboard.title}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-grid"></i>
                    </a>
                </span>
                {{/each}}
            </div>
            <div class="ui horizontal divider">Or</div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Title</label>
                        {{input value=dashboard.title class="form-control" placeholder="What are you calling it?" }}
                </div>
                <div class="col-12">
                    <label class="form-label">Description</label>
                        {{input value=dashboard.description class="form-control" placeholder="What does it show?" }}
                </div>
                <div class="col-12 text-center" >
                    <button class="btn btn-primary mt-2" {{action 'createAndAddToDashboard'}}>
                        Create New Dashboard and Add Question
                    </button>
                </div>
            </div>
   {{/modal.body}}
 {{/bs-modal}}

<div class="ui modal add-to-dashboard">
    <div class="header">
        Add This Question to Dashboard
    </div>
    <div class="dashboard content">
    </div>
</div>
