<div class="row border-bottom p-4">
    <div class="col-6">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label class="form-label">{{x1Name}}</label> {{searchable-select content=resultsColumnsHash sortBy="columnName" optionLabelKey="columnName" selected=x1Hash
                    prompt="Select a Column" on-change=(action "updateSelection" 'resultsViewSettings.x1')}}
                    </div>
            </div>
            <div class="col-2"></div>
        </div>
        {{#if cordinateChart}}
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <label class="form-label">{{x2Name}}</label> {{searchable-select class="" content=resultsColumnsHash sortBy="columnName" optionLabelKey="columnName" selected=x2Hash
                    prompt="Select a Column" on-change=(action "updateSelection" 'resultsViewSettings.x2')}}
                        </div>
                </div>
                <div class="col-2">
                    <i class="fe fe-x" {{action 'clearx2'}}></i>
                </div>
            </div>
        {{/if}}
        <div class="row">
            {{#each multipleYs as |y index|}}
                <div class="col-10">
                    <div class="form-group">
                        <label class="form-label">{{yName}}</label> {{searchable-select class="" content=resultsColumnsHash sortBy="columnName" optionLabelKey="columnName" selected=y prompt="Select
                    a Column" on-change=(action "updateY" index)}}
                        </div>
                </div>
                <div class="col-2">
                    <div class="row py-5 px-1">
                        <div class="col-6"> {{circular-checkbox   checked=y.separateYaxis dataTooltip="Separate Y axis"}} </div>
                        <div class="col-6">
                            {{#if (eq (or y.chartType defaultChartType) 'Line')}}
                                {{#bs-dropdown as |dd|}}
                                    {{#dd.toggle }}
                                        <i class="fe fe-{{if (eq y.lineShape "spline") "git-branch" "activity"}} mt-1 ml-1 text-gray "></i>
                                    {{/dd.toggle}}
                                    {{#dd.menu class="dropdown-menu-arrow" as |ddm|}}
                                        {{#each lineShapeTypes as |lst|}}
                                            {{#ddm.item }}
                                                <div class="row p-2 w-75 nav-link" {{action (mut y.lineShape) lst.value}}>
                                                    <i class="px-2 fe fe-{{if (eq lst.value "spline") "git-branch" "activity"}}"></i> {{ capitalize lst.name}} </div>
                                            {{/ddm.item}}
                                        {{/each}}
                                    {{/dd.menu}}
                                {{/bs-dropdown}}
                            {{/if}}
                        </div>
                        <div class="col-6">
                            {{#bs-dropdown as |dd|}}
                                {{#dd.toggle }}
                                    {{#if y.chartType}}
                                        <i class="{{get-chart-icon y.chartType}} text-gray"></i>
                                    {{else}}
                                        <i class="{{get-chart-icon defaultChartType}} text-gray"></i>
                                    {{/if}}
                                {{/dd.toggle}}
                                {{#dd.menu class="dropdown-menu-arrow" as |ddm|}}
                                    {{#each chartTypes as |ct|}}
                                        {{#ddm.item }}
                                            <div class="row p-2 w-75 nav-link" {{action (mut y.chartType) ct}}>
                                                <i class="{{get-chart-icon ct}} px-2"></i> {{ capitalize ct}} </div>
                                        {{/ddm.item}}
                                    {{/each}}
                                {{/dd.menu}}
                            {{/bs-dropdown}}
                        </div>
                        <div class="col-6">
                            <i class="fe fe-x text-red" {{action 'removeColumn' y}}></i>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#if cordinateChart}}
                <div class="btn btn-link" {{action 'addYColumn'}}>
                    <i class="fe fe-plus"></i> Add another {{yName}} column</div>
            {{/if}}
        </div>
    </div>
    <div class="col-6">
        {{#if cordinateChart}}
            <div class="row">
                <div class="col-10 offset-2">
                    <div class="form-group">
                        <label class="form-label">X Label</label> {{input value=xLabel class="form-control" placeholder="X Lable" }} </div>
                </div>
            </div>
        {{/if}}
        {{#if cordinateChart}}
            <div class="row">
                <div class="col-10 offset-2">
                    <div class="form-group">
                        <label class="form-label">Y Label</label> {{input value=yLabel class="form-control" placeholder="Y Label" }} </div>
                </div>
            </div>
        {{/if}}
        {{#if false}}
            <div class="row">
                <div class="col-10 offset-2">
                    <div class="form-group">
                        <label class="form-label">Title</label> {{input value=title class="form-control" placeholder="Title" }} </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-2">
                    <div class="form-group">
                        <label class="form-label">Mode</label> {{searchable-select content=stackModes sortBy="title" selected=resultsViewSettings.isStacked
                    prompt="Select a Mode" on-change=(action (mut resultsViewSettings.isStacked))}}
                        </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>