{{#if dashboard}}
    {{#grid-stack class="full"
       options=(hash
       animate=true
       width=12
       verticalMargin=10
       )
       onChange=(action 'change')
    }}
        {{#each dashboard.questions as |question|}}
            {{#grid-stack-item class="grid-segment" 
               options=(get (get dashboard  "settings") (get question "id"))}}
                <div class="ui segment full-height">

                    {{#if question.updated_at}}
                        <div class="text-align-center updated-ago-div {{question.updatedAgoColor}}">
                            <div class="updated-ago">
                                Updated: {{moment-from-now question.updated_at interval=1000}}
                            </div>
                        </div>
                    {{/if}}
                    <div class="ui grid question" id="{{question.id}}"> 
                        <div class="twelve wide column">
                            <div class="question-title">
                                {{question.title}}
                            </div>
                        </div>
                        <div class="four wide column text-align-right">
                            <span data-tooltip="edit this question">
                                {{#link-to 'questions.show' question.id}}<i class="edit icon"></i>{{/link-to}}
                            </span>
                            <span data-tooltip="delete" {{action 'showDeleteFromDashboardDialogue' question}}>
                                <i class="remove icon"></i>
                            </span>
                        </div>

                    </div>
                    {{#if question.results}}
                        {{question-widget
                          question=question
                          results=question.results
                          resultsViewSettings=question.results_view_settings
                          resultsViewType=question.results_view_settings.resultsViewType }}
                    {{else}}
                        {{#if question.loading}}
                            <div class="ui active inverted dimmer">
                                <div class="ui text massive loader">{{loadingMessage}}</div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{/grid-stack-item}}
        {{/each}}
    {{/grid-stack}}
{{/if}}

{{delete-dialogue entityName="question from Dashboard" entity=toBeDeleted delete="deleteFromDashboard" className="delete-from-dashboard"}}
