{{#if dashboard}}
    {{#grid-stack class="full"
       options=(hash
       animate=true
       width=12
       verticalMargin="0em"
       )
       onChange=(action 'change')
    }}
        {{#each dashboard.questions as |question|}}
            {{#grid-stack-item class="grid-segment" 
               options=(get (get dashboard  "settings") (get question "id"))}}
                <div class="ui segment full-height">

                    <div class="ui grid question" id="{{question.id}}"> 
                        <div class="ten wide column">
                            <div class="question-title">
                                {{question.title}}
                            </div>
                        </div>
                        <div class="six wide column text-align-right">
                            <span data-tooltip="Refresh" data-inverted="" data-position="left center" {{action 'refreshQuestion' question}}>
                                <i class="refresh icon"></i>
                            </span>
                            {{#if question.updated_at}}
                                <span data-tooltip=" Updated {{moment-from-now question.updated_at timeZone=timeZone interval=1000}}" data-inverted="" data-position="left center">
                                    <i class="time icon {{question.updatedAgoColor}}"></i>
                                </span>
                            {{/if}}
                            {{#if question.has_permission}}
                                <span data-tooltip="edit this question" data-inverted="" data-position="left center">
                                    {{#link-to 'questions.show' question.id}}<i class="edit icon"></i>{{/link-to}}
                                </span>
                            {{/if}}
                            {{#if (and dashboard.has_permission (can "edit dashboard"))}}
                            <span data-tooltip="Remove From Dashboard" data-inverted="" data-position="left center" {{action 'showDeleteFromDashboardDialogue' question}}>
                                <i class="remove icon"></i>
                            </span>
                            {{/if}}
                        </div>

                    </div>
                    {{#if question.results}}
                        {{question-widget
                          question=question
                          results=question.results
                          resultsViewSettings=question.results_view_settings
                          resultsViewType=question.results_view_settings.resultsViewType }}
                    {{else}}
                        {{#if (or question.loading (not question.content.isLoaded))}}
                            <div class="ui active inverted dimmer">
                                <div class="ui text massive loader"></div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{/grid-stack-item}}
        {{/each}}
    {{/grid-stack}}
{{/if}}

{{delete-dialogue entityName="question from Dashboard" entity=toBeDeleted delete="deleteFromDashboard" className="delete-from-dashboard"}}
