{{#if applicableWidgetItem}}
    <span style="color: {{applicableWidgetItem.config.text_color}};">{{applicableWidgetItem.config.prefix}}</span>
    <span style="color: {{applicableWidgetItem.config.text_color}};background-color: {{applicableWidgetItem.config.color}}">
    {{format-object applicableWidgetItem.text}} </span>
{{else}}{{format-object el}} {{/if}}