{{#if showGroupBy}}
<div class="card-body p-2">
    {{#unless (eq columnObj.data_type 'datetime')}}
    <a href="#" {{action 'addGroupBy'}}>
        View Distribution by {{capitalize column}}
    </a>
    {{else}}
    <small class="text-muted">
        View Distribution by {{capitalize column}}
    </small>
    {{custom-single-select-content 
    hideSearch=true
    widgetType='boxes'
    dd=dd
    ddm=ddm
    selectCallbackAction='addGroupBy'
    options=groupByDateTypes
    displayKey="name" }}
    {{/unless}}
</div>
{{/if}}
<div class="card-body p-2">
    <small class="text-muted">Sort By {{capitalize column}}: </small>
    {{#unless ascendingOrderObj}}
    <div class="tag" {{action 'addAscendingOrder'}}>Ascending</div>
    {{/unless}}
    {{#unless descendingOrderObj}}
    <div class="tag" {{action 'addDescendingOrder'}}>Descending</div>
    {{/unless}}
</div>