<div class="pl-3 pt-0">
    {{#each users as |user|}}
    <div class="card mb-3">
        <div class="card-body p-3 {{if user.is_deactivated "bg-gray-lightest"}}">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex align-items-center mt-auto">
                        <div class="avatar avatar-md mr-3" style="background-image: url({{user.profile_pic}})">
                        </div>
                        <div>
                            <h6 class="text-default mb-0">{{or user.full_name user.email}}</h6>
                            <small class="d-block text-muted">{{#if user.full_name }} {{user.email}}{{/if}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-right ">


                    {{#if user.organization.name}}
                    <div class="tag bg-primary">
                        <b class="text-white">G</b>
                        <span class="tag-addon text-white">
                            {{user.organization.name}}
                        </span>
                    </div>
                    {{/if}}
                    {{#link-to "settings.users.edit" user.id class="btn btn-link text-primary"}} EDIT {{/link-to}}
                    {{#if user.is_deactivated}}
                    <button data-tooltip="Activate User" data-inverted=" " class="btn btn-link text-red
                                " {{action 'activateUser' user}}> ACTIVATE </button>
                    {{else}}
                    <button data-tooltip="Deactivate User" data-inverted=" " class="btn btn-link text-red
                                " {{action 'deactivateUser' user}}> DEACTIVATE </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>