{{#each questions as |question|}}
    <div class="ui segment full">
        <div class="ui grid">
            <div class="eight wide column">
                {{#link-to 'questions.show' question.id}}
                <div class="queston-title">
                    {{question.title}}
                </div>
                {{/link-to}}
                <div class="question-subtitle">
                from <span class="table-name">{{question.human_sql.table.human_name}}</span> in <span class="database-name">{{question.human_sql.database.name}}</span>
                    </div>
            </div>
            <div class="eight wide column text-align-right">
                <button data-tooltip="Delete Question" class="ui very basic red button" {{action 'showDeleteDialogue' question}}>
                    DELETE
                </button>
            </div>
        </div>
    </div>
{{/each}}
{{delete-dialogue entityName="question" entity=questionToBeDeleted delete="deleteQuestion"}}
