{{#bs-accordion onChange=(action 'toggleQuestionWidget') class="text-default py-1" as |acc|}}
{{#each allQuestions as |question|}}
{{#if (and question.id question.has_permission) }}
{{#acc.item value=question class="my-2 w-100" as |aitem|}}
{{#aitem.title class="py-2 border-bottom-0 w-100" }}
<div class="row justify-content-between w-100" {{action 'loadQuestion' question}}>
    <div class="col-auto">
        <div class="d-flex">
            <span class="avatar mr-2 text-white bg-primary">
                <i class="{{question.icon}}"></i>
            </span>
            <div>
                <a href="javascript:void(0)">
                    {{#link-to 'questions.show' question.id}}
                    <div class="h6 text-primary mb-0 question-title text-left"> {{question.title}}
                    </div>
                    {{/link-to}}
                </a>
                <small class="text-muted text-left"> from <span
                        class="table-name">{{question.human_sql.table.human_name}}</span>
                    {{#if question.human_sql.table.human_name
                                            }} in {{/if}}
                    <span class="database-name">{{question.human_sql.database.name}}</span>
                </small>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="tags">
            {{#each question.tags as |tag|}}
            <span class="tag" style="background: {{tag.color}}; color: white; opacity: 0.8;">
                {{#link-to 'tags.show' tag.id class="text-white" }} {{tag.name}}
                <span class="tag-addon">
                    <i class="fe fe-tag"></i>
                </span>
                {{/link-to}}
            </span>
            {{/each}}
            {{#each question.dashboards as |dashboard|}}
            <span class="tag">
                {{#link-to 'dashboards.show' dashboard.id}} {{dashboard.title}}
                <span class="tag-addon">
                    <i class="fe fe-grid"></i>
                </span>
                {{/link-to}}
            </span>
            {{/each}}
        </div>
    </div>
    <div class="col-2 text-right">
        {{#if question.updated_at}}
        <span>
            {{#bs-tooltip placement="left" }} Updated
            {{moment-from-now question.updated_at timeZone=timeZone interval=1000}}
            {{/bs-tooltip}}
            <i class="fe fe-clock text-{{question.updatedAgoColor}}"></i>
        </span>
        {{/if}}
        <span class="px-1" {{action 'addTag' question}}>
            {{bs-tooltip placement="top" title="Add Tags"}}
            <i class="fe fe-tag text-gray"></i>
        </span>
        <span class="px-1" {{action 'viewSnapshots' question}}>
            {{#bs-tooltip placement="top" }}view {{question.snapshots.length}}
            snapshot(s){{/bs-tooltip}}
            <i class="fe fe-copy text-gray"></i>
        </span>
        <button class="btn btn-link text-red px-0" {{action 'showDeleteDialogue' question}}>
            {{bs-tooltip placement="top" title="Delete Question"}} DELETE </button>
    </div>
</div>
{{/aitem.title}}
{{#aitem.body class="border-top p-0" }}
{{#if question.showQuestionWidgetOnListPage}}
{{#if question.results}} {{question-widget question=question
                          results=question.results
                          resultsViewSettings=question.results_view_settings
                          hideMenu=true
                          resultsViewType=question.results_view_settings.resultsViewType }}
{{else}}
{{#if (or question.loading (not question.content.isLoaded))}}
<div class="dimmer active">
    <div class="loader text-primary"></div>
    <div class="dimmer-content"> </div>
</div>
{{/if}}
{{/if}}
{{/if}}
{{/aitem.body}}
<div class="card-footer">
    <div class="row justify-content-between">
        <div class="col">
            <span class="ml-2 d-none d-lg-block">
                <small class="text-muted d-block mt-1">By
                    {{or question.owner.full_name question.owner.email}}</small>
            </span>
        </div>
        <div class="col text-right">
            <small class="text-muted"> Updated
                {{moment-from-now question.updated_at timeZone=timeZone interval=1000}}</small>
        </div>
    </div>
</div>
{{/acc.item}}
{{/if}}
{{/each}}
{{/bs-accordion}}
{{delete-dialogue entityName="question" open=toggleDeleteDialogue entity=questionToBeDeleted delete="deleteQuestion"}}
{{add-tag entityName="Question" tags=tags entity=addTagToQuestion open=toggleTagsModal}}
{{create-tag entityName="questions" entity=addTagToQuestion getData='getData'}}