{{#each questions as |question|}}
    {{#if (and question.id question.has_permission) }}
    <div class="ui segment full">
        <div class="ui grid">
            <div class="six wide column">
                {{#link-to 'questions.show' question.id}}
                <div class="queston-title">
                    <i class="{{question.icon}} icon"></i>
                    {{question.title}}
                </div>
                {{/link-to}}
                <div class="question-subtitle">
                    {{#if question.human_sql.rawQuery}}
                        Native Query on <span class="database-name">{{question.human_sql.database.name}}</span>
                    {{else}}
                        from <span class="table-name">{{question.human_sql.table.human_name}}</span> in <span class="database-name">{{question.human_sql.database.name}}</span>
                    {{/if}}
                    </div>
            </div>
            <div class="six wide column">
                {{#each question.tags as |tag|}}
                    {{#link-to 'tags.show' tag.id}} 
                        <div class="ui basic dashboard label" style="background: {{tag.color}}; color: white;">
                            {{tag.name}}
                        </div>
                    {{/link-to}}
                {{/each}}
                {{#each question.dashboards as |dashboard|}}
                    {{#link-to 'dashboards.show' dashboard.id}} 
                        <div class="ui basic dashboard violet label">
                            {{dashboard.title}}
                        </div>
                    {{/link-to}}
                {{/each}}
            </div>
            <div class="four wide column text-align-right">
                <span data-tooltip="Edit Tags" data-inverted=""  class="" {{action 'addTag' question}}>
                    <i class="edit icon"></i>
                </span>
                <button data-tooltip="Delete Question" data-inverted=""  class="ui very basic red button" {{action 'showDeleteDialogue' question}}>
                    DELETE
                </button>
            </div>
        </div>
    </div>
    {{/if}}
{{/each}}
{{delete-dialogue entityName="question" entity=questionToBeDeleted delete="deleteQuestion"}}
{{add-tag entityName="Question" tags=tags entity=addTagToQuestion}}
{{create-tag entityName="questions" entity=addTagToQuestion getData='getData'}}
