<div class="card ml-3">

    <div class="card-footer">

        <div class="form-group">
            <label class="h5 text-default">Email Configuration</label>
            {{#if email_server_setting}}
            <div class="form-group">
                <label class="form-label">Email Server</label>
                {{input class=(if email_server_setting.errors.value "form-control is-invalid" "form-control")  type="text" name="first-name" value=email_server_setting.value}}
            </div>
            {{/if}}
            {{#if email_port_setting}}
            <div class="form-group">
                <label class="form-label">Email Server Port</label>
                {{input class=(if email_port_setting.errors.value "form-control is-invalid" "form-control")  type="text" name="first-name" value=email_port_setting.value}}
            </div>
            {{/if}}
            {{#if email_username_setting}}
            <div class="form-group">
                <label class="form-label">Email Server Username</label>
                {{input class=(if email_username_setting.errors.value "form-control is-invalid" "form-control")  type="password" name="first-name" value=email_username_setting.value}}
            </div>
            {{/if}}
            {{#if email_password_setting}}
            <div class="form-group">
                <label class="form-label">Email Server Password</label>
                {{input class=(if email_password_setting.errors.value "form-control is-invalid" "form-control")  type="password" name="first-name" value=email_password_setting.value}}
            </div>
            {{/if}}
            {{#if sender_email_id_setting}}
            <div class="form-group">
                <label class="form-label">Sender Email Id</label>
                {{input class=(if sender_email_id_setting.errors.value "form-control is-invalid" "form-control")  type="text" name="first-name" value=sender_email_id_setting.value}}
            </div>
            {{/if}}
            {{#if email_server_hostname_setting}}
            <div class="form-group">
                <label class="form-label">Email Server Hostname</label>
                {{input class=(if sender_email_id_setting.errors.value "form-control is-invalid" "form-control")  type="text" name="first-name" value=email_server_hostname_setting.value}}
            </div>
            {{/if}}
            <small class="text-muted">We only suport email via TLS. You know, because Security. :)</small>
        </div>
    </div>
    <div class="card-footer">

        <div class="form-group">
            <label class="h5 text-default">AWS Configuration</label>
            {{#if aws_access_key_id_setting}}
            <div class="form-group">
                <label class="form-label">AWS ACCESS KEY ID</label>
                {{input class=(if aws_access_key_id_setting.errors.value "form-control is-invalid" "form-control")  type="password" name="first-name" value=aws_access_key_id_setting.value}}
            </div>
            {{/if}}
            {{#if aws_secret_access_key_setting}}
            <div class="form-group">
                <label class="form-label">AWS SECRET ACCESS KEY</label>
                {{input class=(if aws_secret_access_key_setting.errors.value "form-control is-invalid" "form-control")  type="password" name="first-name" value=aws_secret_access_key_setting.value}}
            </div>
            {{/if}}
            {{#if aws_region_setting}}
            <div class="form-group">
                <label class="form-label">AWS REGION</label>
                {{input class=(if aws_region_setting.errors.value "form-control is-invalid" "form-control")  type="text" name="first-name" value=aws_region_setting.value}}
            </div>
            {{/if}}
            {{#if s3_bucket_setting}}
            <div class="form-group">
                <label class="form-label">S3 Bucket</label>
                {{input class=(if s3_bucket_setting.errors.value "form-control is-invalid" "form-control")  type="text" name="first-name" value=s3_bucket_setting.value}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="card-footer">

        <div class="form-group">
            <label class="h5 text-default">Settings</label>
            {{#if report_limit_setting}}
            <div class="form-group">
                <label class="form-label">Maximum Number of Rows in Exports/Reports</label>
                {{input class=(if report_limit_setting.errors.value "form-control is-invalid" "form-control")  type="number" name="first-name" value=report_limit_setting.value}}
                <small class="text-muted"> It can be overriden by Organization or User level Limit.
                    Empty means no limit.
                </small>


            </div>
            {{/if}}
            {{#if download_allowed_setting}}
            <div class="form-group">
                <label class="custom-switch">
                    <span class="custom-switch-description form-label m-0">Can Download Reports</span>
                    {{input type="checkbox"  change=(action 'setDownloadAllowedSetting') checked=(eq download_allowed_setting.value "true") name="custom-switch-checkbox" class="custom-switch-input"}}
                    <span class="custom-switch-indicator ml-4"></span>
                </label>
                <small class="text-muted d-block"> Use this option to disable downloads for this Afterglow Installation.
                    Tt can be overriden by Organization and User Level Value </small>
            </div>
            {{/if}}
        </div>
    </div>
</div>