<div class="ui modal create-dashboard">
    <div class="header">
        Create Dashboard
    </div>
    <div class="create-dashboard content">
        <div class="ui grid">
            <div class="ui form full">
                <div class="sixteen wide column">
                    <div class="field">
                        {{input value=dashboard.title class="ui" placeholder="What are you calling it?" }}
                    </div>
                </div>
                <div class="sixteen wide column">
                    <div class="field">
                        {{input value=dashboard.description class="ui" placeholder="What does it show?" }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="actions">
        <div class="ui basic red deny button">
            Cancel
        </div>
        {{#if onlyCreate}}
            <div class="ui basic violet positive right labeled icon button" {{action "createDashboard"}}>
                Create and Add Question to Dashboard
                <i class="checkmark icon"></i>
            </div>
        {{else}}
            <div class="ui basic positive violet right labeled icon button " {{action "createAndAddToDashboard"}} >
                Create and Add Question to Dashboard
            </div>
        {{/if}}
    </div>
</div>
