<div class="full text-align-center h-100">
    <div class="row h-100">
        {{#if onlyOne }}
        {{#each numbers as |number|}}
        <div class="col-12 text-center my-auto">
            <div class="h1 m-0 mt-4">
                {{localize number.value}}
            </div>
            <small class="text-muted mb-4">
                {{capitalize number.title}}
            </small>
        </div>
        {{/each}}
        {{else}}
        {{#each numbers as |number| }}
        <div class="col-3 my-auto">
            <div class="text-align-center ">
                <div class="h1 m-0">
                    {{localize number.value}}
                </div>
                <small class="text-muted mb-4">
                    {{capitalize number.title}}
                </small>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>