<div class="number-chart full text-align-center">
    <div class="row">
        {{#if onlyOne }}
            {{#each numbers as |number|}}
                <div class="col-12 text-center">
                        <div class="h1 m-0 mt-4">
                            {{localize number.value}}
                        </div>
                        <small class="text-muted mb-4">
                            {{capitalize number.title}}
                        </small>
                </div>
            {{/each}}
        {{else}}
            {{#each numbers as |number| }}
                <div class="col-3">
                    <div class="number-block  text-align-center ">
                        <div class="h1 m-0">
                            {{localize number.value}}
                        </div>
                        <small class="text-muted mb-4">
                            {{capitalize number.title}}
                        </small>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
