<div class="container px-0">
    <div class="row mt-4">
        <div class="col-4">
            <div class="form-group">
                <label class="form-label">Enter {{capitalize model.table_name}} {{capitalize model.column_name}}</label>
                <div class="input-group">
                {{input type="text" value=value class="form-control" }}
                    {{#if value}}
                        <span class="input-group-append">
                            <span class="input-group-text bg-primary text-white h5">
                                {{#link-to 'explore.new' model.column_id value}} search {{/link-to}}
                            </span>
                        </span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class='col-8 text-right'>
          <button class="btn btn-link text-primary" {{action 'createDashboard'}}><i class="fe fe-plus"></i> CREATE DASHBOARD </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header"> {{capitalize model.table_name}} </div>
        <div class="card-body"> {{results-table results=model.results}} </div>
    </div>
    <div class="card">
        <div class="card-header"> Relationships </div>
        <div class="card-body">
            {{#bs-accordion onChange=(action 'showDependencyResults') class="text-default" as |acc|}}
                {{#each dependencies as |dep|}}
                    {{#acc.item value=dep class="mx-0 my-1" as |aitem|}}
                        {{#aitem.title class="py-2" }} {{capitalize dep.name}} {{/aitem.title}}
                        {{#aitem.body class="py-2" }}
                            {{#if dep.loading}}
                                <div class="dimmer active">
                                    <div class="loader text-primary"></div>
                                    <div class="dimmer-content"> </div>
                                </div>
                            {{else}}
                                {{#if dep.results}} {{results-table results=dep.results}} {{else}}
                                    <div class="errors"> {{deps.errors}} </div>
                                {{/if}}
                            {{/if}}
                        {{/aitem.body}}
                    {{/acc.item}}
                {{/each}}
            {{/bs-accordion}}
        </div>
    </div>
</div>
