<div class="title {{tableClass}} ks-table" data-tooltip="Select table (ctrl+shift+t)" data-inverted=""  >
    <i class="dropdown icon"></i>
    Table
</div>
<div class="content {{tableClass}}">
    {{#ui-dropdown class="selection full ks-table-input" selected=queryObject.table onChange=(action (mut queryObject.table)) as |execute mapper|}}
        {{dropdown-default object=queryObject.table.human_name default="Table"}}
        <i class="dropdown icon"></i>
        <div class="menu">

            <div class="ui icon input">
                <i class="search icon"></i>
                {{input type="text" placeholder="Search" class="ui input ks-table-search" value=tableQuery}}
            </div>
            {{#each tables as |table|}}
                <div class="item" data-value="{{map-value mapper table}}">
                    {{table.human_name}}
                </div>
            {{/each}}
        </div>
    {{/ui-dropdown}}
</div>
{{#if queryObject.table.readable_table_name }}
    <div class="tags content active">
        <div class="full right"><a href="#" class="ui violet basic label"> {{queryObject.table.human_name}}</a></div>
    </div>
{{/if}}
<div class="title {{filtersClass}} ks-filters" data-tooltip="Add filters (ctrl+shift+f)" data-inverted="" >
    <i class="dropdown icon"></i>
    Filters
</div>
<div class="content {{filtersClass}}">
    {{#each queryObject.filters as |filter|}}
        <div class=" ui segment">
            {{filter-maker filter=filter columns=columns queryObject=queryObject switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
        </div>
    {{/each}}
    <button class="ui violet button full" {{action 'addFilter'}}>
        <i class="icon add"></i>
        Add More
    </button>
</div>

{{#if filtersTagsShow }}
    <div class="tags content active">
        {{#each queryObject.filters as |filter|}}
            {{#if filter.label}}
                <a href="#" class="ui violet basic label">{{filter.label}}<i class="remove icon"{{action 'remove' 'filters' filter}}></i></a>
            {{/if}}
        {{/each}}
    </div>
{{/if}}

<div class="title ks-view" data-tooltip="Select a view (ctrl+shift+v)" data-inverted="" >
    <i class="dropdown icon"></i>
    View
</div>
<div class="content">
    {{#each queryObject.views as |selectView|}}
        {{selectView.select.name}}
        {{view-maker selectView=selectView switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}
    {{/each}}
    <button class="ui violet button full" {{action 'addView'}}>
        <i class="icon add"></i>
        Add More
    </button>
</div>

{{#if queryObject.views }}
    <div class="ui labels tags content active">
        {{#each queryObject.views as |view|}}
            {{#if view.label}}
                <a href="#" class="ui violet basic label">{{view.label}}<i class="remove icon"{{action 'remove' 'views' view}}></i></a>
            {{/if}}
        {{/each}}
    </div>
{{/if}}

<div class="title ks-group_bys" data-tooltip="Add  group by clause (ctrl+shift+g)" data-inverted="" >
    <i class="dropdown icon"></i>
    Group By
</div>
<div class="content">
    {{#each queryObject.groupBys as |groupBy|}}
        {{group-by-maker columns=columns groupBy=groupBy switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}
    {{/each}}
    <button class="ui violet button full" {{action 'addGroupBy'}}>
        <i class="icon add"></i>
        Add More
    </button>
</div>

{{#if queryObject.groupBys }}
    <div class="tags content active">
        {{#each queryObject.groupBys as |groupBy|}}
            {{#if groupBy.label}}
                <a href="#" class="ui violet basic label">{{groupBy.label}}<i class="remove icon"{{action 'remove' 'groupBys' groupBy}}></i></a>
            {{/if}}
        {{/each}}
    </div>
{{/if}}

<div class="title ks-order_bys" data-tooltip="add order by clause (ctrl+shift+o)" data-inverted="" >
    <i class="dropdown icon"></i>
    Order By
</div>
<div class="content">
    {{#each queryObject.orderBys as |orderBy|}}
        {{order-by-maker columns=columns orderBy=orderBy}}
    {{/each}}
    <button class="ui violet button full" {{action 'addOrderBy'}}>
        <i class="icon add"></i>
        Add More
    </button>
</div>
{{#if queryObject.orderBys }}
    <div class="tags content active">
        {{#each queryObject.orderBys as |orderBy|}}
            {{#if orderBy.column.human_name}}
                <a href="#" class="ui violet basic label">{{orderBy.label}}<i class="remove icon"{{action 'remove' 'orderBys' orderBy}}></i></a>
            {{/if}}
        {{/each}}
    </div>
{{/if}}
<div class="title">
    <i class="dropdown icon"></i>
    No of Results
</div>
<div class="content">
    <div class="ui form margin-top-10">
        <div class="field">
            {{input value=queryObject.limit class="ui" placeholder="limit"}}
        </div>
    </div>
</div>

{{#if queryObject.limit}}
    <div class="tags content active">

        {{#if queryObject.limit}}
            <a href="#" class="ui violet basic label">{{queryObject.limit}}</a>
        {{/if}}
    </div>
{{/if}}

<div class="title">
    <i class="dropdown icon"></i>
    Search After (offset)
</div>
<div class="content">
    <div class="ui form margin-top-10">
        <div class="field">
            {{input value=queryObject.offset class="ui" placeholder="Search after" }}
        </div>
    </div>
</div>

{{#if queryObject.offset}}
    <div class="tags content active">

        {{#if queryObject.offset}}
            <a href="#" class="ui violet basic label">{{queryObject.offset}}</a>
        {{/if}}
    </div> 
{{/if}}
