{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="row">
            <div class="col-10">
                {{#if queryObject.fromQuestion}}Question{{else}}Table{{/if}}
            </div>
            <div class="col-2">
                <span class="d-inline-flex" {{action 'toggleFromTable'}}>
                    {{#bs-tooltip placement="top" }}Switch between Question and Table{{/bs-tooltip}}
                    <i class="fe fe-toggle-right"></i>
                </span>
                <i class="fe fe-chevron-down"></i>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        <div class="content {{tableClass}}">
            {{#if queryObject.fromQuestion}} {{searchable-select
      content=questions
      sortBy="title"
      prompt="Select a Question"
      selected=queryObject.table
      on-search=(action "updateQuestionSearch")
      on-change=(action (mut queryObject.table))}}
                {{else}}{{searchable-select
      content=tables
      sortBy="human_name"
      prompt="Select a Table"
      selected=queryObject.table
      optionLabelKey="human_name"
      on-change=(action (mut queryObject.table))}}
                {{/if}}
        </div>
    {{/aitem.body}}
    {{#if (or queryObject.table.readable_table_name queryObject.table.title)}}
        <div class="card-footer py-2">
            <div class="full right">
                <a href="#" class="tag tag-primary"> {{or queryObject.table.human_name queryObject.table.title}}</a>
            </div>
        </div>
    {{/if}}
{{/acc.item}}
{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="row">
            <div class="col-10"> Filters </div>
            <div class="col-2">
                <i class="fe fe-chevron-down"></i>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        {{#each queryObject.filters as |filter|}} {{filter-maker filter=filter columns=columns queryObject=queryObject switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
            {{/each}}
        <button class="btn btn-primary mr-2 mt-2 full" {{action 'addFilter'}}>
            <i class="fe fe-plus text-white"></i> Add More </button>
    {{/aitem.body}}
    {{#if filtersTagsShow }}
        <div class="card-footer py-2">
            {{#each queryObject.filters as |filter|}}
                {{#if filter.label}}
                    <span class="tag tag-primary">{{filter.label}}
                        <a href="#" class="tag-addon">
                            <i class="fe fe-x text-white" {{action 'remove' 'filters' filter}}></i>
                        </a>
                    </span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
{{/acc.item}}
{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="title ks-view">
            <div class="row">
                <div class="col-10"> View </div>
                <div class="col-2">
                    <i class="fe fe-chevron-down"></i>
                </div>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        {{#each queryObject.views as |selectView|}} {{selectView.select.name}} {{view-maker selectView=selectView switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}
            {{/each}}
        <button class="btn btn-primary mr-2 mt-2 full" {{action 'addView'}}>
            <i class="fe fe-plus text-white"></i> Add More </button>
    {{/aitem.body}}
    {{#if queryObject.views }}
        <div class="card-footer py-2">
            {{#each queryObject.views as |view|}}
                {{#if view.label}}
                    <span class="tag tag-primary">{{view.label}}
                        <a href="#" class="tag-addon">
                            <i class="fe fe-x text-white" {{action 'remove' 'views' view}}></i>
                        </a>
                    </span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
{{/acc.item}}
{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="row">
            <div class="col-10"> Group By </div>
            <div class="col-2">
                <i class="fe fe-chevron-down"></i>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        {{#each queryObject.groupBys as |groupBy|}} {{group-by-maker columns=columns groupBy=groupBy switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }} {{/each}}
        <button class="btn btn-primary mr-2 mt-2 full" {{action 'addGroupBy'}}>
            <i class="fe fe-plus text-white"></i> Add More </button>
    {{/aitem.body}}
    {{#if queryObject.groupBys }}
        <div class="card-footer py-2">
            {{#each queryObject.groupBys as |groupBy|}}
                {{#if groupBy.label}}
                    <span class="tag tag-primary">{{groupBy.label}}
                        <a href="#" class="tag-addon">
                            <i class="fe fe-x text-white" {{action 'remove' 'groupBys' groupBy}}></i>
                        </a>
                    </span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
{{/acc.item}}
{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="row">
            <div class="col-10"> Sort By </div>
            <div class="col-2">
                <i class="fe fe-chevron-down"></i>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        {{#each queryObject.orderBys as |orderBy|}} {{order-by-maker columns=columns orderBy=orderBy}} {{/each}}
        <button class="btn btn-primary mr-2 mt-2 full" {{action 'addOrderBy'}}>
            <i class="fe fe-plus text-white"></i> Add More </button>
    {{/aitem.body}}
    {{#if queryObject.orderBys }}
        <div class="card-footer py-2">
            {{#each queryObject.orderBys as |orderBy|}}
                {{#if orderBy.column.human_name}}
                    <span class="tag tag-primary">{{orderBy.label}}
                        <a href="#" class="tag-addon">
                            <i class="fe fe-x text-white" {{action 'remove' 'orderBys' orderBy}}></i>
                        </a>
                    </span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
{{/acc.item}}
{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="row">
            <div class="col-10"> Number of Results </div>
            <div class="col-2">
                <i class="fe fe-chevron-down"></i>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        <div class="ui form margin-top-10">
            <div class="field"> {{input value=queryObject.limit class="ui" placeholder="limit"}} </div>
        </div>
    {{/aitem.body}}
    {{#if queryObject.limit}}
        <div class="card-footer py-2">
            {{#if queryObject.limit}}
                <a href="#" class="tag tag-primary">{{queryObject.limit}}</a>
            {{/if}}
        </div>
    {{/if}}
{{/acc.item}}
{{#acc.item class="m-0" as |aitem|}}
    {{#aitem.title class="py-2" }}
        <div class="row">
            <div class="col-10"> Search After (offset) </div>
            <div class="col-2">
                <i class="fe fe-chevron-down"></i>
            </div>
        </div>
    {{/aitem.title}}
    {{#aitem.body class="py-2" }}
        <div class="ui form margin-top-10">
            <div class="field"> {{input value=queryObject.offset class="ui" placeholder="Search after" }} </div>
        </div>
    {{/aitem.body}}
    {{#if queryObject.offset}}
        <div class="card-footer py-2">
            {{#if queryObject.offset}}
                <a href="#" class="tag tag-primary">{{queryObject.offset}}</a>
            {{/if}}
        </div>
    {{/if}}
{{/acc.item}}