<div class="ui basic segment full padded-content no-top-margin">
    {{#if results}}
        <div class="ui segment">
            <div class="ui grid results-view-selector">
                <div class="four wide column" bubbles=false>
                    {{#ui-dropdown class="search selection" selected=resultsViewType onChange=(action (mut resultsViewType))  as |execute mapper|}} 
                        {{dropdown-default  default=resultsViewType}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each availableResultsTypes as |rv|}}
                                <div class="item" data-value="{{map-value mapper rv}}">
                                    <i class="{{get-chart-icon rv}} icon"></i>
                                    {{rv}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
                <div class="eight wide column text-align-right"></div>
                <div class="four wide column text-align-right">
                    {{#if question.updated_at}}
                        <span data-tooltip=" Updated {{moment-from-now question.updated_at interval=1000}}" data-inverted="">
                            <i class="time icon {{question.updatedAgoColor}}"></i>
                        </span>
                    {{/if}}
                    <span data-tooltip="Download Data" data-inverted="" {{action "downloadData"}}>
                        <i class="save icon"></i>
                    </span>
                    <span data-tooltip="Configure" data-inverted="" >  
                        <i class="settings icon" {{action 'toggleSettings'}}></i>
                    </span>
                </div>
            </div>
            {{#if showSettings}}
                {{component resultsWidgetSettingsComponent resultsViewSettings=resultsViewSettings results=results }}
            {{/if}}
            {{question-widget results=results resultsViewSettings=resultsViewSettings resultsViewType=resultsViewType questionName=questionName question=question}}
        </div>
    {{else}}
        {{#if loading}}
            <div class="ui segment results">
                <div class="ui active inverted dimmer">
                    <div class="ui text massive loader">{{loadingMessage}}</div>
                </div>
            </div>
        {{else}} 
            <div class="ui segment results">
                {{#if errors}}
                    <div class="query error section">
                        <div class="ui big">
                            <i class="ban icon red"></i>
                        </div>
                        {{errors.message}}</div>
                {{else}}
                        <div class="section">Wanna see something cool? Run a Query!</div>
                {{/if}}
            </div>

        {{/if}}
    {{/if}}
</div>
