{{#dd.menu renderInPlace=false as |ddm|}}
<form action="#" class="">
    <div class="menu-content">
        {{#if filter.raw}}
        <div class="switch" {{action 'switchToBuilder' 'filters' filter false}}>
            {{bs-tooltip title="Switch To Builder"}}
            <i class="fe fe-list text-gray"></i>
        </div>
        <div class="form-group">
            {{input value=filter.value class="form-control my-2" placeholder="joining_table.column = 'something'" }}
        </div>

        {{#if showAddFilter}}
        <div class="btn btn-primary mt-2 w-100" {{action "addNewFilter" }}> <i class="fe fe-plus"></i>
            Add
            Filter </div>
        {{else}}
        <div class="btn btn-primary mt-2 w-100" {{action "close" }}>
            Done </div>
        {{/if}}
        {{else}}
        <div class="switch" {{action 'switchToRaw' 'filters' filter}}> {{bs-tooltip title="Switch To Raw"}}
            <i class="fe fe-code text-gray"></i>
        </div>
        <div class="row mb-2">
            <div class="tag tag-primary">
                {{#if filter.column.human_name}}
                <div class="" {{action 'mutState' 1}}>
                    {{filter.column.human_name}}
                </div>
                {{/if}}
                {{#if filter.operator.value}}
                <div class="tag-addon" {{action 'mutState' 2}}>
                    {{filter.operator.value}}
                </div>
                {{/if}}
                {{#unless (exists-in-array noValueOperators filter.operator.value)}}
                {{#if (or filter.value (concat filter.valueDateObj.value filter.valueDateObj.duration.name filter.valueDateObj.dtt.name))}}
                <div class="tag-addon" {{action 'mutState' 3}}>
                    {{or filter.value (concat filter.valueDateObj.value " " filter.valueDateObj.duration.name " " filter.valueDateObj.dtt.name)}}
                </div>
                {{/if}}
                {{/unless}}
            </div>
        </div>
        {{#if (eq state 1)}}
        {{custom-single-select-content
    selectCallbackAction=(action "mutState" 3)
    dropdownClass="menu-content"
    elseMessage="No columns were found in the selected table"
    options=columns value=filter.column
    textIcon="C"
    displayKey="name" }}
        {{/if}}

        {{#if (eq state 2)}}
        <div class="card-footer px-0">
            {{#if (is-empty availableOperators)}}
            <div class="my-2">
                <small class="text-muted ">Filtering is not available for {{filter.column.data_type}} data type
                </small>

            </div>
            {{else}}
            {{custom-single-select-content 
    selectCallbackAction=(action "mutState" 3)
    dropdownClass="menu-content mb-2"
    elseMessage="Comparator is not supported"
    options=availableOperators value=filter.operator
    hideSearch=true
    widgetType="boxes"
    displayKey="value" }}
            {{/if}}

        </div>
        <div class="border-top">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-link mt-2" {{action "mutState" 1}}>Go Back</button>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if (eq state 3)}}
        {{#unless (exists-in-array noValueOperators filter.operator.value)}}
        {{filter-value-selector results=results filter=filter showDatePicker=showDatePicker}}
        {{/unless}}

        <div class="border-top">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-link mt-2" {{action "mutState" 2}}>Go Back</button>
                </div>
                <div class="col-6">
                    {{#if showAddFilter}}
                    <div class="btn btn-primary mt-2 w-100" {{action "addNewFilter" }}> <i class="fe fe-plus"></i>
                        Add
                        Filter </div>
                    {{else}}
                    <div class="btn btn-primary mt-2 w-100" {{action "close" }}>
                        Done </div>
                    {{/if}}

                </div>
            </div>
        </div>
        {{/if}}
        {{/if}}

    </div>

</form>

{{/dd.menu}}
