<div class="border p-2">
    {{#if filter.raw}}
        <div class="switch" {{action 'switchToBuilder' 'filters' filter false}}> {{bs-tooltip title="Switch To Builder"}}
            <i class="fe fe-list text-gray"></i>
        </div>
        <div class="form-group"> {{input value=filter.value class="form-control my-2" placeholder="joining_table.column = 'something'" }} </div>
    {{else}}
        <div class="switch" {{action 'switchToRaw' 'filters' filter}}> {{bs-tooltip title="Switch To Raw"}}
            <i class="fe fe-code text-gray"></i>
        </div> {{searchable-select
              class="my-2"
              content=filteredColumns
              sortBy="human_name"
              selected=filter.column
              prompt="Select a Column"
              optionLabelKey="human_name"
              on-change=(action (mut filter.column))}}
        {{searchable-select
              class="my-2"
              content=operators
              sortBy="name"
              prompt="Select an operator"
              selected=filter.operator
              optionLabelKey="name"
              on-change=(action (mut filter.operator))}}
        {{filter-value-selector filter=filter}} {{/if}}
</div>