<div class="db-tree mx-1">
    <div class="form-group mb-0"> {{input type="text" value=query class="form-control" placeholder="Search Tables"}} </div>
    <div class="tree text-default">
        {{#each tables as |table|}}
            <div class="node-name" {{action 'toggleColumns' table}}>
                {{#if table.showColumnsInTree}}
                    <i class="fe fe-chevron-down"></i>
                {{else}}
                    <i class="fe fe-chevron-right"></i>
                {{/if}} {{table.readable_table_name}} </div>
            <div class="leafs {{if table.showColumnsInTree '' 'hidden'}}">
                {{#each table.columns as |column|}}
                    <div class="leaf-name"> {{column.name}} </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>