<div class="searchbar overlay">
  <div class="dashboard-selector searchbar-content">
  <div class="create-dashboard content">
    <div class="ui vertical menu full">

      <div class="item">
        <div class="ui icon input">
          <i class="search icon"></i>
          {{input type="text" placeholder="Search a question" value=query}}
        </div>
      </div>
      {{#each filteredQuestions as |question index|}}
      {{#if question.id}}
      <div class="item {{if (eq selectedIndex index) "active"}}" {{action 'goToQuestionClick' question}}>
        {{question.title}}
      </div>
      {{/if}}
      {{else}}

      <div class="item">
        No Results
      </div>
      {{/each}}
    </div>
  </div>
</div>
</div>
