<div class="row w-100">
    <div class="col-11">
        <div class="row">

            <div class="col-auto border-right p-1 min-width-15">

                {{#each queryObject.additionalFilters.filters as |filter|}}
                {{#if (label-maker filter filter.column filter.value filter.valueDateObj.value filter.valueDateObj.duration filter.operator filter.valueDateObj.date filter.valueDateObj.dtt.name )}}
                <span class="tag border tag-primary mt-0">
                    {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker filter filter.column filter.value filter.valueDateObj.value filter.valueDateObj.duration filter.operator filter.valueDateObj.date filter.valueDateObj.dtt.name}}
                    {{/dd.toggle}}
                    {{filter-maker dd=dd filter=filter columns=columns results=results switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'filters' filter}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size mt-0 btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i> Filter
                {{/dd.toggle}}
                {{filter-maker
        dd=dd
         showAddFilter=true
         results=results
         addNewFilter="addNewFilter"
         filter=newFilter columns=columns switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                {{/bs-dropdown}}

            </div>
            <div class="col-auto border-right p-1 min-width-15">

                {{#each queryObject.additionalFilters.views as |selectView|}}
                {{#if (label-maker selectView selectView.selected.raw selectView.selected.value selectView.selected.name selectView.selected)}}
                <span class="tag tag-primary border mt-0">
                    {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker selectView selectView.selected selectView.selected.value selectView.selected.raw selectView.selected.name }}
                    {{/dd.toggle}}
                    {{view-maker dd=dd addNewView="addNewView" selectView=selectView switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'views' selectView}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size mt-0 btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i>View
                {{/dd.toggle}}
                {{view-maker dd=dd showAddView=true addNewView="addNewView" selectView=newView switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                {{/bs-dropdown}}
            </div>
            <div class="col-auto border-right p-1 min-width-15">

                {{#each queryObject.additionalFilters.groupBys as |groupBy|}}
                {{#if (label-maker groupBy groupBy.castType groupBy.selected groupBy.selected.value groupBy.selected.raw)}}
                <span class="tag border tag-primary mt-0">
                    {{#bs-dropdown closeOnMenuClick=false  as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker groupBy groupBy.castType groupBy.selected groupBy.selected.value groupBy.selected.raw}}
                    {{/dd.toggle}}
                    {{group-by-maker dd=dd columns=columns groupBy=groupBy switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'groupBys' groupBy}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size mt-0 btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i>Grouping
                {{/dd.toggle}}
                {{group-by-maker dd=dd showAddGroupBy=true addNewGroupBy='addNewGroupBy' columns=columns groupBy=newGroupBy switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}
                {{/bs-dropdown}}

            </div>
            <div class="col-auto p-1 min-width-15">

                {{#each queryObject.additionalFilters.orderBys as |orderBy|}}
                {{#if (label-maker orderBy orderBy.column orderBy.order)}}
                <span class="tag border tag-primary mt-0">
                    {{#bs-dropdown closeOnMenuClick=false  as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker orderBy orderBy.column orderBy.order}}
                    {{/dd.toggle}}

                    {{order-by-maker dd=dd columns=columns orderBy=orderBy}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'orderBys' orderBy}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size mt-0 btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i>Sort Order
                {{/dd.toggle}}
                {{order-by-maker dd=dd showAddOrderBy=true addNewOrderBy='addNewOrderBy' columns=columns orderBy=newOrderBy}}
                {{/bs-dropdown}}
            </div>
        </div>
    </div>
    <div class="col-1 text-right">
        <span {{action 'resetAdditionalFilters'}}>
            <div class="btn btn-link p-0"> Clear
            </div>
        </span>

    </div>
</div>