<div class="row w-100">
    <div class="col-11">
        <div class="row">

            <div class="col-auto border-right p-1 min-width-15">

                {{#each queryObject.additionalFilters.filters as |filter|}}
                {{#if (label-maker filter filter.column filter.value filter.valueDateObj.value filter.valueDateObj.duration filter.operator filter.valueDateObj.date filter.valueDateObj.dtt.name )}}
                <span class="tag border tag-primary">
                    {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker filter filter.column filter.value filter.valueDateObj.value filter.valueDateObj.duration filter.operator filter.valueDateObj.date filter.valueDateObj.dtt.name }}
                    {{/dd.toggle}}
                    {{#dd.menu as |ddm|}}
                    <div class="menu-content">
                        {{filter-maker filter=filter columns=columns switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                    </div>
                    {{/dd.menu}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'filters' filter}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i> Filter
                {{/dd.toggle}}
                {{#dd.menu as |ddm|}}
                <div class="menu-content">
                    {{filter-maker filter=newFilter columns=columns switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                    <div class="btn btn-primary mt-2 w-100" {{action "addNewFilter" }}> <i class="fe fe-plus"></i>
                        Add
                        Filter </div>
                </div>
                {{/dd.menu}}
                {{/bs-dropdown}}
            </div>
            <div class="col-auto border-right p-1 min-width-15">
                {{#each queryObject.additionalFilters.views as |selectView|}}
                {{#if (label-maker selectView selectView.selected.raw selectView.selected.value selectView.selected.name selectView.selected)}}
                <span class="tag tag-primary border">
                    {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker selectView selectView.selected selectView.selected.value selectView.selected.raw selectView.selected.name }}
                    {{/dd.toggle}}
                    {{#dd.menu as |ddm|}}
                    <div class="menu-content">
                        {{view-maker selectView=selectView switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                    </div>

                    {{/dd.menu}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'views' selectView}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i>View
                {{/dd.toggle}}
                {{#dd.menu as |ddm|}}
                <div class="menu-content">
                    {{view-maker selectView=newView switchToBuilder='switchToBuilder' switchToRaw='switchToRaw'}}
                    <div class="btn btn-primary mt-2 w-100" {{action "addNewView" }}> <i class="fe fe-plus"></i>
                        Add
                        View</div>
                </div>
                {{/dd.menu}}
                {{/bs-dropdown}}

            </div>
            <div class="col-auto border-right p-1 min-width-15">


                {{#each queryObject.additionalFilters.groupBys as |groupBy|}}
                {{#if (label-maker groupBy groupBy.castType groupBy.selected groupBy.selected.value groupBy.selected.raw)}}
                <span class="tag border tag-primary">
                    {{#bs-dropdown closeOnMenuClick=false  as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker groupBy groupBy.castType groupBy.selected groupBy.selected.value groupBy.selected.raw}}
                    {{/dd.toggle}}
                    {{#dd.menu as |ddm|}}
                    <div class="menu-content">
                        {{group-by-maker columns=columns groupBy=groupBy switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}

                    </div>


                    {{/dd.menu}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'groupBys' groupBy}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i>Grouping
                {{/dd.toggle}}
                {{#dd.menu as |ddm|}}
                <div class="menu-content">
                    {{group-by-maker columns=columns groupBy=newGroupBy switchToRaw="switchToRaw" switchToBuilder="switchToBuilder" }}
                    <div class="btn btn-primary mt-2 w-100" {{action "addNewGroupBy" }}> <i class="fe fe-plus"></i>
                        Add
                        Grouping</div>
                </div>
                {{/dd.menu}}
                {{/bs-dropdown}}
            </div>
            <div class="col-auto p-1 min-width-15">

                {{#each queryObject.additionalFilters.orderBys as |orderBy|}}
                {{#if (label-maker orderBy orderBy.column orderBy.order)}}
                <span class="tag border tag-primary">
                    {{#bs-dropdown closeOnMenuClick=false  as |dd|}}
                    {{#dd.toggle class="text-white"}}
                    {{label-maker orderBy orderBy.column orderBy.order}}
                    {{/dd.toggle}}
                    {{#dd.menu as |ddm|}}
                    <div class="menu-content">

                        {{order-by-maker columns=columns orderBy=orderBy}}
                    </div>

                    {{/dd.menu}}
                    {{/bs-dropdown}}
                    <a href="#" class="tag-addon">
                        <i class="fe fe-x text-white" {{action 'remove' 'orderBys' orderBy}}></i>
                    </a>
                </span>
                {{/if}}
                {{/each}}
                {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                {{#dd.toggle class="btn tag-size btn-secondary text-primary border-primary py-0 px-1"}}
                <i class="fe fe-plus"></i>Sort Order
                {{/dd.toggle}}
                {{#dd.menu as |ddm|}}
                <div class="menu-content">
                    {{order-by-maker columns=columns orderBy=newOrderBy}}
                    <div class="btn btn-primary mt-2 w-100" {{action "addNewOrderBy" }}> <i class="fe fe-plus"></i>
                        Add
                        Sort Order</div>
                </div>
                {{/dd.menu}}
                {{/bs-dropdown}}
            </div>
        </div>
    </div>
    <div class="col-1 text-right">
        <span {{action 'resetAdditionalFilters'}}>
            <div class="btn btn-link p-0"> Clear
            </div>
        </span>

    </div>
</div>