<div class="searchbar overlay">
  <div class="dashboard-selector searchbar-content">
  <div class="create-dashboard content">
    <div class="ui segment">
      <div class="ui segment outlined">
        {{el}}
      {{#copy-button
        clipboardText=el
        class="right"
        title='copy to clipboard'
      }}
      <i class="copy icon"></i>
      {{/copy-button}}
    </div>

      <div class="ui divider"></div>
      {{accordion-multiselect label="Group By Columns" selection=groupBySelection options=columns labelProperty='name' placeholder="Select Few Columns"}}
      <div class="ui divider"></div>

      <label>Add a filter</label>
      {{#ui-dropdown class="search selection ks-database-input" selected=filterSelection onChange=(action (mut filterSelection)) as |execute mapper|}}
      {{dropdown-default object=filterSelection.name default="Select a Filter"}}
          <i class="fe fe-chevron-down"></i>
          <div class="menu">
              {{#each filterOptions as |option|}}
                <div class="item"  data-value="{{map-value mapper option}}">
                      {{option.name}}
                  </div>
              {{/each}}
          </div>
      {{/ui-dropdown}}
      <div class="ui divider"></div>
      <div class="action-buttons ">
        <div class="ui red button" {{action 'hideThisPopup'}}>Cancel</div>
        <div class="ui violet button" {{action 'applyAdditionalFilters'}}>Apply</div>
      </div>
  </div>
  </div>
</div>
</div>
