{{#each sortedColumnValues as |cv|}}
<div class="{{if cv.selected "tag-primary"}} tag" {{action 'selectOption' cv }} >
  {{cv.displayName}}
</div>
{{/each}}

{{#if showDatePicker}}
{{input value=filter.valueDateObj.value class="form-control my-2" placeholder="30"}}
{{searchable-select
  content=durations
  class="my-2"
  sortBy="name"
  prompt="Days"
  selected=filter.valueDateObj.duration
  optionLabelKey="name"
  on-change=(action (mut filter.valueDateObj.duration))}}
  {{searchable-select
    class="my-2"
    content=dateTimeTypes
    sortBy="name"
    prompt="Ago"
    selected=filter.valueDateObj.dtt
    optionLabelKey="name"
    on-change=(action (mut filter.valueDateObj.dtt))}}
    <div class="divider">Or</div>
    {{ui-calendar class="form-control" date=filter.value onChange=(action (mut filter.value)) placeholder="Pick a date and time"}}
    {{else}}
    {{input class="form-control my-2" value=filter.value class="ui" placeholder="Column Value"}}
    {{/if}}
