{{#if showDatePicker}}
{{#bs-tab as |tab|}}
{{#tab.pane title="Duration"}}
{{input value=filter.valueDateObj.value class="form-control my-2" placeholder="30"}}

<div class="border-top py-2">
  {{custom-single-select-content 
    hideSearch=true
    widgetType='boxes'
    options=durations value=filter.valueDateObj.duration
    displayKey="name" }}

</div>
<div class="border-top py-2">
  {{custom-single-select-content 
    hideSearch=true
    widgetType='boxes'
    options=dateTimeTypes value=filter.valueDateObj.dtt
    displayKey="name" }}
</div>
{{/tab.pane}}
{{#tab.pane title="Datepicker" }}

{{bs-datetimepicker class="d-block" date=filter.value inline=true useCurrent='day'}}
{{/tab.pane}}
{{/bs-tab}}
{{else}}
{{input class="form-control my-2" value=filter.value class="ui" placeholder="Column Value"}}
{{#each suggestions as |suggestion|}}
<div class="border-bottom py-2 text-primary" {{action (mut filter.value) suggestion.displayName}}>
  {{format-object suggestion.displayName}}
</div>
{{/each}}
{{/if}}