{{#bs-modal position="center" open=open onHide=(action 'clearSharedTo') as |modal|}}
   {{#modal.header}}
       <h4 class="modal-title">
        Share {{entityName}}
        </h4>
   {{/modal.header}}
   {{#modal.body}}
        Enter email ids of people, you want to share this {{entityName}} with:
        <div class="tip">Tip: Enter 'all' to share with everybody on AfterGlow</div> 
        {{#ui-dropdown allowAdditions=true class="fluid multiple selection search" selected=entity.shared_to onChange=(action (mut entity.shared_to)) as |execute mapper|}}
            <i class="fe fe-chevron-down"></i>
            <div class="default text">Enter EmailIds</div>
            <div class="ui menu">
                {{#each sortedUsers as |user|}}
                    <div class="item" data-value="{{user.email}}">
                        <i class="user icon"></i>
                        {{user.full_name}} - {{user.email}}
                    </div>
                {{/each}}
            </div>
        {{/ui-dropdown}}
   {{/modal.body}}
   {{#modal.footer as |footer|}}
     {{#bs-button onClick=(action 'clearSharedTo') type="danger"}}Cancel{{/bs-button}}
     {{#bs-button onClick=(action 'saveSharedTo') class="btn-primary" type="primary"}}Share{{/bs-button}}
   {{/modal.footer}}
 {{/bs-modal}}