<div class="table-responsive h-100">
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table table-striped">
        <thead>
            <tr>
                {{#each results.columns as |column|}}
                {{#unless (exists-in-array question.results_view_settings.hiddenColumns column)}}
                {{#if  (replace-column-with-api-action question.api_actions column question.apiActionsChanged)}}
                <th>
                    {{#if  canEdit }}
                    {{capitalize column}}
                    <i class="fe fe-edit text-primary"
                        {{action 'editApiAction'  (replace-column-with-api-action question.api_actions column  question.apiActionsChanged)}}></i>
                    <i class="fe fe-x-square text-red"
                        {{action 'showDeleteApiActionModal' (replace-column-with-api-action question.api_actions column question.apiActionsChanged)}}></i>
                    {{/if}}
                </th>
                {{else}}
                <th>
                    {{#bs-dropdown closeOnMenuClick=false as |dd|}}
                    {{#dd.toggle class="text-muted"}}
                    {{capitalize column}}
                    {{#if (is-order-applied question.human_sql.additionalFilters.orderBys column 'ASC')}}
                    <div class="tag tag-primary">
                        <i class="fe fe-chevron-up"></i>
                    </div>
                    {{/if}}
                    {{#if (is-order-applied question.human_sql.additionalFilters.orderBys column 'DESC')}}
                    <div class="tag tag-primary">

                        <i class="fe fe-chevron-down"></i>
                    </div>
                    {{/if}}
                    {{/dd.toggle}}
                    {{#dd.menu renderInPlace=false as |ddm|}}
                    <div class="menu-content">
                        {{additional-sort-and-grouping resultsViewType=resultsViewType results=results column=column additionalFilters=question.human_sql.additionalFilters apply='apply'}}
                    </div>

                    {{/dd.menu}}
                    {{/bs-dropdown}}
                </th>
                {{/if}}
                {{/unless}}
                {{/each}}
                {{#each question.api_actions as |apiAction|}}
                {{#if  (not apiAction.column)}}
                <th>
                    {{#if  canEdit}}
                    <i class="fe fe-edit text-primary" {{action 'editApiAction' apiAction}}></i>
                    <i class="fe fe-x-square text-red" {{action 'showDeleteApiActionModal' apiAction}}></i>
                    {{/if}}
                </th>
                {{/if}}
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each pagedRows as |row|}}
            <tr>
                {{#each row as |el index|}}
                {{#unless (exists-in-array question.results_view_settings.hiddenColumns (get-in results.columns index))}}

                {{#if  (replace-column-with-api-action question.api_actions (get-in results.columns index) question.apiActionsChanged)}}
                <td>
                    <div class="btn btn-link text-{{get (replace-column-with-api-action question.api_actions (get-in results.columns index) question.apiActionsChanged) "color"}} text-uppercase p-0"
                        {{action 'callApiAction' (replace-column-with-api-action question.api_actions (get-in results.columns index) question.apiActionsChanged)row}}>
                        {{get-api-action-display-name row results.columns (get (replace-column-with-api-action question.api_actions (get-in results.columns index) question.apiActionsChanged) "name") }}
                    </div>
                </td>
                {{else}}
                <td class="">

                    {{#bs-dropdown direction="left" closeOnMenuClick=false as |dd|}}
                    {{#dd.toggle class=(if (exists-in index results) "text-primary" "text-default" )}}
                    {{widgets/render-widgets el=el question=question index=index results=results}}
                    {{/dd.toggle}}
                    {{#dd.menu renderInPlace=false as |ddm|}}
                    <div class="menu-content">
                        {{additional-quick-filters results=results index=index value=el additionalFilters=question.human_sql.additionalFilters apply='apply' showQuickFilters=showQuickFilters}}
                    </div>

                    {{/dd.menu}}
                    {{/bs-dropdown}}
                </td>
                {{/if}}
                {{/unless}}
                {{/each}}
                {{#each question.api_actions as |apiAction|}}
                {{#if (not apiAction.column)}}
                <td>
                    <div class="btn btn-link text-{{apiAction.color}} text-uppercase p-0"
                        {{action 'callApiAction' apiAction row}}>
                        {{get-api-action-display-name row results.columns apiAction.name}}</div>
                </td>
                {{/if}}
                {{/each}}
            </tr>
            {{else}}
            {{/each}}
        </tbody>
        {{#if showPageNumbers}}
        <tfoot class="full-width">
            <tr>
                <th colspan="100" class="p-0 py-5">
                    {{#if showResults}} {{page-numbers content=pagedRows}} {{else}}
                    <div class="centered"> Looks like your query did not return any result. </div>
                    {{/if}}
                </th>
            </tr>
        </tfoot>
        {{/if}}
    </table>
</div>
{{delete-dialogue entityName="Api Action" open=toggleDeleteApiActionModal entity=deletableApiAction delete="deleteApiAction"}}
{{api-action-modal apiAction=editableApiAction open=toggleEditApiActionModal results=results question=question}}
{{api-action-result canDebug=canEdit result=apiActionResult open=toggleApiActionResult}}