<div class="table-responsive h-100">
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table table-striped">
        <thead>
            <tr>
                {{#each results.columns as |column|}}
                <th>{{capitalize column}}</th>
                {{/each}}
                {{#each question.api_actions as |apiAction|}}
                <th>
                    {{#if canEdit}}
                    <i class="fe fe-edit text-primary" {{action 'editApiAction' apiAction}}></i>
                    <i class="fe fe-x-square text-red" {{action 'showDeleteApiActionModal' apiAction}}></i>
                    {{/if}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each pagedRows as |row|}}
            <tr>
                {{#each row as |el index|}}
                <td class="">
                    {{#if (exists-in index results)}}
                    {{#link-to 'explore.new' (get-column-id index results) el}}
                    {{widgets/render-widgets el=el question=question index=index results=results}}
                    {{/link-to}}
                    {{else}}{{widgets/render-widgets el=el question=question index=index results=results}}
                    {{/if}}
                </td>
                {{/each}}
                {{#each question.api_actions as |apiAction|}}
                <td>
                    <div class="btn btn-link text-{{apiAction.color}} text-uppercase p-0"
                        {{action 'callApiAction' apiAction row}}>{{apiAction.name}}</div>
                </td>
                {{/each}}
            </tr>
            {{else}}
            {{/each}}
        </tbody>
        {{#if showPageNumbers}}
        <tfoot class="full-width">
            <tr>
                <th colspan="100" class="p-0 pt-5">
                    {{#if showResults}} {{page-numbers content=pagedRows}} {{else}}
                    <div class="centered"> Looks like your query did not return any result. </div>
                    {{/if}}
                </th>
            </tr>
        </tfoot>
        {{/if}}
    </table>
</div>
{{delete-dialogue entityName="Api Action" open=toggleDeleteApiActionModal entity=deletableApiAction delete="deleteApiAction"}}
{{api-action-modal apiAction=editableApiAction open=toggleEditApiActionModal}}
{{api-action-result canDebug=canEdit result=apiActionResult open=toggleApiActionResult}}