<div class="table-responsive">
  <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
    <thead>
      <tr>
        {{#each results.columns as |column|}}
        <th>{{capitalize column}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each pagedRows as |row|}}
      <tr>
        {{#each row as |el index|}}
        <td class="" {{action 'openAdditionalFilterPopup' el index results}}>
          {{format-object el}}
        </td>
        {{/each}}
      </tr>
      {{else}}
      {{/each}}
    </tbody>
    {{#if showPageNumbers}}
    <tfoot class="full-width">
      <tr>
        <th colspan="100" class="p-0 pt-5">
          {{#if showResults}}
          {{page-numbers content=pagedRows}}
          {{else}}
          <div class="centered">
            Looks like your query did not return any result.
          </div>
          {{/if}}
        </th>
      </tr>
    </tfoot>
    {{/if}}
  </table>
</div>
