{{#bs-modal position="center" size="lg" open=open onHide=(action 'clear') as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title"> Add a Widget</h4>
    {{/modal.header}}
    {{#modal.body}}
        <div class="tip mt-2 mb-2">Select One or More Widgets</div> {{searchable-select
      content=widgets
      sortBy="displayName"
      multiple=true
      closeOnSelection=false
      prompt="Select one or more widgets"
      optionLabelKey="displayName"
      selected=selectedWidgets
      on-search=(action "updateWidgetSearch")
      on-change=(action (mut question.widgets))}}
        <div class="tip mt-2 mb-2">Or create a new one</div>
        <div class="row">
            <div class="col-6 pr-1">
                <div class="form-group">
                    <label class="form-label">Name</label> {{input type="text" class="form-control" placeholder="Give it a name" value=widget.name}}
                    </div>
            </div>
            <div class="col-6 pl-1">
                <div class="form-group">
                    <label class="form-label">Widget Type</label> {{searchable-select
            content=widgetRenderers
            selected=widgetRenderer
            prompt="Select Widget Type"
            on-change=(action "setWidgetRenderer")}}
                    </div>
            </div>
            <div class="col-6"> {{searchable-select
              class="my-2"
              content=columns
              sortBy="human_name"
              selected=selectedColumn
              prompt="Select a Column"
              optionLabelKey="human_name"
              on-change=(action 'selectColumn')}}
                </div>
        </div>
        {{#if widget.shouldShowJson}}
            <div class="tip mt-2 mb-2">Enter Key value Pairs in Json form. Keys must be values that appear in column. Value should be text that you
                want to convert these keys into.</div> {{textarea rows=10 value=widget.itemsJson class="form-control"}}
            {{#if
                invalidJsonError}}
                <div class="form-error"> Invalid Json </div>
            {{/if}}
            <div class="text-right">
                {{#bs-button onClick=(action 'toggleWidgetItemJson') class="mt-2" type="gray" }}I'll add one by one{{/bs-button}}
                {{#bs-button onClick=(action 'convertToWidgetItems') class="mt-2" type="primary"
                    }}Convert to Widget Items{{/bs-button}}
            </div>
        {{else}}
            <div class="form-group">
                <div class="form-label">Transaforms</div>
            </div>
            {{#bs-accordion class="no-box-shadow" as |acc|}}
                {{#each widget.widget_items as |wi|}}
                    {{#acc.item as |aitem|}}
                        {{#aitem.title class="py-2 border-bottom-0" }}
                            <span>{{wi.value}}</span>
                            <i class="fe fe-arrow-right"></i>
                            <span> {{wi.text}} </span>
                            <i class="fe fe-x text-red" {{action 'removeWidgetItem' wi}}></i>
                        {{/aitem.title}}
                        {{#aitem.body class="border-top" }} {{component editableWidgetComponent wi=wi}} {{/aitem.body}}
                    {{/acc.item}}
                {{/each}}
            {{/bs-accordion}}
            <span {{action "addWidgetItem"}} class="btn btn-link text-primary mt-2">
                <i class="fe fe-plus"></i>Add another Transform</span>
        {{/if}}
        <div class="row">
            <div class="col-12 text-right">
                {{#if widget.canSave}}
                    {{#bs-button onClick=(action 'save') class="btn-primary" type="primary" }}Create Widget{{/bs-button}}
                {{/if}}
            </div>
        </div>
    {{/modal.body}}
    {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action 'clear') type="danger" }}Cancel{{/bs-button}}
        {{#bs-button onClick=(action 'saveQuestion') class="btn-primary" type="primary" }}Apply Widget{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}