{{#bs-modal position="center" size="lg" open=open onHide=(action 'clear') as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title"> Create Snapshot </h4>
    {{/modal.header}}
    {{#modal.body}}
        <div class="ui grid">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Name</label> {{input value=snapshot.name class="form-control" placeholder="What are you calling it?" }}
                        </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Description</label> {{input  value=snapshot.description class="form-control" placeholder="What does it show?" }}
                        </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox"> {{input checked=snapshot.scheduled  class="custom-control-input" type="checkbox"}}
                            <span class="custom-control-label">scheduled?</span>
                        </label>
                    </div>
                </div>
                <div class="col-4 px-2">
                    {{#if snapshot.scheduled}}
                        <div class="form-group">
                            <label class="form-label">Schedule it every: </label>
                            <select class="form-control" onchange= {{action  'selectScheduleInterval' value="target.value"}}>
                                {{#each intervals as |interval|}}
                                    <option value= {{interval.value}} selected= {{eq snapshot.interval interval.value}}>{{capitalize interval.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/if}}
                </div>
                <div class="col-4">
                    {{#if snapshot.scheduled}}
                        <div class="form-group">
                            <label class="form-label">starting at</label> {{ui-calendar date=snapshot.starting_at onChange=(action (mut snapshot.starting_at)) placeholder=snapshot.starting_at }}
                            </div>
                    {{/if}}
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox"> {{input checked=snapshot.should_save_data_to_db  class="custom-control-input" type="checkbox"}}
                            <span
                                class="custom-control-label">Want to plot on snapshot data?</span>
                        </label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox"> {{input checked=snapshot.should_create_csv  class="custom-control-input" type="checkbox"}}
                            <span
                                class="custom-control-label">create csv ?</span>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox"> {{input checked=snapshot.should_send_mail_on_completion class="custom-control-input" type="checkbox"}}
                            <span class="custom-control-label">send mail after completion ?</span>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    {{#if snapshot.should_send_mail_on_completion}}
                        <div class="form-group">
                            <label class="form-label">Email ids </label> {{searchable-select
                                        content=userEmails
                                        multiple=true
                                        selected=selectedUsers
                                        closeOnSelection=false
                                        prompt="Select People You want to share it with"
                                        on-add=(action "addNewEmail")
                                        on-change=(action 'addToEmails')}}
                            </div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/modal.body}}
    {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action 'clear') type="danger" }}Cancel{{/bs-button}}
        {{#bs-button onClick=(action 'createSnapshot') class="btn-primary" type="primary" }}Create Snapshot{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}