{{#bs-modal position="center" size="lg" open=open onHide=(action 'clear') as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            {{#if apiAction.id}}Edit{{else}}Create{{/if}} Api Action </h4>
    {{/modal.header}}
    {{#modal.body}}
        <div class="mb-2"> Pro tip: You can use column names as variables. Use <b>{</b><b>{</b> col_name <b>}</b><b>}</b>
            in url, headers and body fields. </div>
        <div class="row">
            <div class="col-9 pr-2">
                <div class="form-group">
                    <div class="form-label">Name</div>
                    {{input value=apiAction.name class="form-control"}}
                    {{#each apiAction.errors.name as |error|}}
                        <div class="invalid-feedback d-flex">{{error.message}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="col-3 pl-2">
                <div class="form-group">
                    <label class="form-label">Color</label>
                    <div class="row gutters-xs">
                        {{#each colors as |color|}}
                            <div class="col-auto">
                                <label class="colorinput">
                                    {{input name=color type="checkbox" class="colorinput-input" checked=(eq color apiAction.color) change=(action 'changeColor')}}
                                    <span class="colorinput-color bg-{{color}}"></span>
                                </label>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-label">Method</div>
                    <div class="selectgroup w-100">
                        {{#each methods as |method| }}
                            <label class="selectgroup-item">
                                {{input type="checkbox" name=method class="selectgroup-input" checked=(eq method apiAction.method) change=(action 'changeMethod')}}
                                <span class="selectgroup-button">{{method}}</span>
                            </label>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-label">Url</div>
                    {{input value=apiAction.url class="form-control"}}
                    {{#each apiAction.errors.url as |error|}}
                        <div class="invalid-feedback d-flex">{{error.message}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="form-label">Headers</div>
                    {{key-value-maker objArray=apiAction.headers}}
                    {{#each apiAction.errors.headers as |error|}}
                        <div class="invalid-feedback d-flex">{{error.message}}</div>
                    {{/each}}
                </div>
            </div>
            {{#unless (eq apiAction.method (or "GET" "DELETE"))}}
                <div class="col-12">
                    <div class="form-group">
                        <div class="form-label">Body</div>
                        {{textarea value=apiAction.body class="form-control"}}
                        {{#each apiAction.errors.body as |error|}}
                            <div class="invalid-feedback d-flex">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
            {{/unless}}
            {{#if showOpenInNewTab}}
                <div class="col-12">
                    <label class="custom-switch">
                        {{input type="checkbox" checked=apiAction.open_in_new_tab class="custom-switch-input"}}
                        <span class="custom-switch-indicator"></span>
                        <span class="custom-switch-description">Open In New Tab</span>
                    </label>
                </div>
            {{/if}}
        </div>
    {{/modal.body}}
    {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action 'clear')  }}Cancel{{/bs-button}}
        {{#bs-button onClick=(action 'saveApiAction') class="btn-primary" type="primary" }}Save{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}