{{#dd.menu renderInPlace=false as |ddm|}}
<div class="menu-content">
    {{#if selectView.selected.raw}}
    <div class="switch" {{action 'switchToBuilder' 'views' selectView true}}> {{bs-tooltip title="Switch To Builder"}}
        <i class="fe fe-list text-gray"></i>
    </div>
    <div class="form-group">
        {{input value=selectView.selected.value class="form-control my-2" placeholder="COUNT(column) As Metric" }}
    </div>
    <small class="text-muted">You can add view fragments like avg(columns), count(column), sum(column) etc here. See
        Database documentation for more such functions.</small>
    {{else}}
    <div class="switch" {{action 'switchToRaw' 'views' selectView true}}> {{bs-tooltip title="Switch To Raw"}}
        <i class="fe fe-code text-gray"></i>
    </div>
    {{custom-single-select-content 
    elseMessage="No Such View is supported. Use Raw for complex views"
    selectCallbackAction='addNewView'
    options=viewOptions value=selectView.selected
    hideSearch=true
    helpText="To view average, sum and more complex manipulation on your data, switch to raw by clicking
        <i class=\"fe fe-code text-gray\"></i>"
    displayKey="name" }}

    {{/if}}
    {{#if showAddView}}
    <div class="btn btn-primary mt-2 w-100" {{action "addNewView" }}> <i class="fe fe-plus"></i>
        Add
        View</div>
    {{else}}
    <div class="btn btn-primary mt-2 w-100" {{action "close" }}>
        Done</div>
    {{/if}}
</div>
{{/dd.menu}}