<div class=" ui segment">    
    {{#ui-dropdown class="search selection" selected=orderBy.column onChange=(action (mut orderBy.column))  as |execute mapper|}} 
        {{dropdown-default object=orderBy.column.human_name default="column"}}
        <i class="dropdown icon"></i>
        <div class="menu">
            {{#each columns as |column|}}
                <div class="item" data-value="{{map-value mapper column}}">
                    {{column.human_name}}
                </div>
            {{/each}}
        </div>
    {{/ui-dropdown}}
    {{#ui-dropdown class="search selection" selected=orderBy.order onChange=(action (mut orderBy.order))  as |execute mapper|}} 
        {{dropdown-default object=orderBy.order.name default="order"}}
        <i class="dropdown icon"></i>
        <div class="menu">
            {{#each orders as |order|}}
                <div class="item" data-value="{{map-value mapper order}}">
                    {{order.name}}
                </div>
            {{/each}}
        </div>
    {{/ui-dropdown}}
</div>
