<div class="header collapse d-lg-flex p-0">
    <div class="container">
        <div class="nav nav-tabs border-0 flex-column flex-lg-row py-3 px-0">
            <div class="row justify-content-between w-100">
                <div class="col text-default"> {{pageTitle}} </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-3 px-5">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body p-0">
                    <a href="#" class="nav-item p-3 border-bottom text-default {{if (eq step 1) "active"}}"
                        {{action "setStep" 1}}> <i
                            class="fe fe-check-circle  pr-4 {{if step1Done "text-green" "text-gray"}}"></i> Set up Alert
                        Name</a>
                    <a href="#" class="nav-item p-3 border-bottom text-default {{if (eq step 2) "active"}}"
                        {{action "setStep" 2}}><i
                            class="fe fe-check-circle  pr-4 {{if step2Done "text-green" "text-gray"}}"></i> Set up Data
                        Source</a>
                    <a href="#" class="nav-item p-3 border-bottom text-default {{if (eq step 3) "active"}}"
                        {{action "setStep" 3}}><i
                            class="fe fe-check-circle  pr-4 {{if step3Done "text-green" "text-gray"}}"></i> Set up Alert
                        Condition</a>
                    <a href="#" class="nav-item p-3 border-bottom text-default {{if (eq step 4) "active"}}"
                        {{action "setStep" 4}}><i
                            class="fe fe-check-circle  pr-4 {{if step4Done "text-green" "text-gray"}}"></i> Set up
                        Notification</a>
                    <a href="#" class="nav-item p-3 border-bottom text-default {{if (eq step 5) "active"}}"
                        {{action "setStep" 5}}><i
                            class="fe fe-check-circle pr-4 {{if step5Done "text-green" "text-gray"}}"></i> Set up Alert
                        Schedule</a>
                    <a href="#" class="nav-item p-3 border-bottom text-default {{if (eq step 6) "active"}}"><i
                            class="fe fe-check-circle  pr-4 {{if step6Done "text-green" "text-gray"}}"></i> Done</a>
                </div>
            </div>
        </div>
        <div class="col-9 pl-4">
            <div class="card">
                {{#if (eq step 1)}}
                <div class="card-body p-4">
                    <div class="form-group">
                        <div class="form-label">
                            Name
                        </div>
                        {{input value=alert_setting.name class="form-control"}}

                        {{#if errors.name}}
                        <div class="invalid-feedback d-block">Please provide a name.</div>
                        {{/if}}
                        <small class="text-muted">This will be sent in the notifications. So please choose a appropriate
                            name.</small>
                    </div>
                </div>
                <div class="card-footer px-4 py-2">
                    <div class="d-flex p-0">
                        <button class="btn btn-primary ml-auto" {{action "nextStep" 1}}>Next <i
                                class="fe fe-arrow-right"></i></button>

                    </div>
                </div>
                {{/if}}
                {{#if (eq step 2)}}
                <div class="card-body p-4">
                    <div class="form-group">
                        <div class="form-label">
                            Question
                        </div>
                        {{searchable-select content=questions
            sortBy="title"
            optionLabelKey="title"
            selected=alert_setting.question
            closeOnSelection=true
            prompt="Select a Question"
            on-change=(action (mut alert_setting.question))}}
                        {{#if errors.question}}
                        <div class="invalid-feedback d-block">Please select a question</div>
                        {{/if}}
                        <small class="text-muted">Result of this Question will be used to evaluate the Condition for
                            this alert.</small>
                    </div>
                </div>
                <div class="card-footer px-4 py-2">
                    <div class="d-flex p-0">
                        <a href="#" class="btn btn-link btn-secondary" {{action "previousStep"}}><i
                                class="fe fe-arrow-left"></i>Go Back</a>
                        <button class="btn btn-primary ml-auto" {{action "nextStep" 2}}>Next <i
                                class="fe fe-arrow-right"></i></button>

                    </div>
                </div>
                {{/if}}
                {{#if (eq step 3)}}
                <div class="card-body p-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 text-center pt-2 mb-2">
                                When
                            </div>
                            <div class="col-3 mb-2">
                                {{searchable-select content=aggregations
            sortBy="title"
            optionLabelKey="title"
            selected=selectedAggregation
            closeOnSelection=true
            prompt="Select an aggregation"
            on-change=(action 'setProperty' 'alert_setting.aggregation')}}
                                {{#if errors.aggregation}}
                                <div class="invalid-feedback d-block">Please select an aggregation</div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-1 text-center pt-2 mb-2">
                                of
                            </div>
                            <div class="col-3 mb-2">
                                {{searchable-select content=columns
            sortBy="title"
            optionLabelKey="title"
            selected=selectedColumn
            closeOnSelection=true
            prompt="Select a Column"
            on-change=(action 'setProperty' 'alert_setting.column')}}
                                {{#if errors.column}}
                                <div class="invalid-feedback d-block">Please select a column</div>
                                {{/if}}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-center pt-2 mb-2">
                                in
                            </div>
                            <div class="col-3 mb-2">
                                {{searchable-select content=traversals
            sortBy="title"
            optionLabelKey="title"
            selected=selectedTraversal
            closeOnSelection=true
            prompt="Select traversal"
            on-change=(action 'setProperty' 'alert_setting.traversal')}}
                                {{#if errors.traversal}}
                                <div class="invalid-feedback d-block">Please select traversal</div>
                                {{/if}}

                            </div>
                        </div>
                        <div class="row">
                            {{#if (not-eq alert_setting.traversal 'all')}}
                            <div class="col-2 mb-2">
                                {{input type="number" placeholder="Number of rows" value=alert_setting.number_of_rows class="form-control"}}
                                {{#if errors.no_of_rows}}
                                <div class="invalid-feedback d-block">Please provide number of rows</div>
                                {{/if}}

                            </div>
                            {{/if}}
                            <div class="col-1 text-center pt-2 mb-2">
                                rows

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 text-center pt-2 mb-2">
                                is
                            </div>
                            <div class="col-3 mb-2">
                                {{searchable-select content=operations
            sortBy="title"
            optionLabelKey="title"
            selected=selectedOperation
            closeOnSelection=true
            prompt="Select comparator"
            on-change=(action 'setProperty' 'alert_setting.operation')}}
                                {{#if errors.operation}}
                                <div class="invalid-feedback d-block">Please select an comparator</div>
                                {{/if}}


                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-footer px-4 py-2">
                    <div class="row">
                        <div class="col-2">
                            {{input type="number" value=warningLevel.value placeholder="threshold" class="form-control"}}
                            {{#if errors.warningLevelValue}}
                            <div class="invalid-feedback d-block">Please provide a value</div>
                            {{/if}}

                        </div>
                        <div class="col-10 pt-2 pl-2">
                            raise
                            <div class="tag bg-yellow-light text-default">Warning</div>
                        </div>

                    </div>

                </div>
                <div class="card-footer px-4 py-2">
                    <div class="row">
                        <div class="col-2">
                            {{input type="number" value=criticalLevel.value placeholder="threshold" class="form-control"}}
                            {{#if errors.criticalLevelValue}}
                            <div class="invalid-feedback d-block">Please provide a value</div>
                            {{/if}}

                        </div>
                        <div class="col-10 pt-2 pl-2">
                            raise
                            <div class="tag bg-red text-white">Critical</div>
                        </div>

                    </div>

                </div>
                <div class="card-footer px-4 py-2">

                </div>
                <div class="card-footer px-4 py-2 mb-2">
                    <div class="d-flex p-0">
                        <a href="#" class="btn btn-link btn-secondary" {{action "previousStep"}}><i
                                class="fe fe-arrow-left"></i>Go Back</a>
                        <button class="btn btn-primary ml-auto" {{action "nextStep" 3}}>Next <i
                                class="fe fe-arrow-right"></i></button>

                    </div>
                </div>
                {{/if}}
                {{#if (eq step 4)}}
                <div class="card-body p-4">
                    <div class="form-group">
                        <small class="text-default d-block mb-1">Notify following People/mailing list/teams:</small>
                        {{searchable-select
            content=userEmails
            multiple=true
            selected=selectedRecipients
            closeOnSelection=false
            prompt="Select People You want to notify"
            on-add=(action "addNewRecipient")
            on-change=(action 'addToRecipients')}}

                        {{#if errors.notificationRecipients}}
                        <div class="invalid-feedback d-block">Please select people to notify</div>
                        {{/if}}
                    </div>
                </div>
                <div class="card-footer px-4 py-2 mb-2">
                    <div class="d-flex p-0">
                        <a href="#" class="btn btn-link btn-secondary" {{action "previousStep"}}><i
                                class="fe fe-arrow-left"></i>Go Back</a>
                        <button class="btn btn-primary ml-auto" {{action "nextStep" 4}}>Next <i
                                class="fe fe-arrow-right"></i></button>

                    </div>
                </div>
                {{/if}}
                {{#if (eq step 5)}}
                <div class="card-body p-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-center pt-2">
                                Run it every:
                            </div>
                            <div class="col-2">
                                {{input placeholder="time" type=number value=timeInterval class="form-control"}}
                            </div>
                            <div class="col-2 pl-1">
                                {{searchable-select
            content=timeUnits
            selected=timeUnit
            closeOnSelection=false
            prompt="Time Unit"
            on-change=(action (mut timeUnit))}}
                            </div>
                            {{#if errors.frequency_value_in_seconds}}
                            <div class="col-4 pl-2 pt-2">

                                <div class="invalid-feedback d-block">Please select</div>
                            </div>
                            {{/if}}
                        </div>
                        <div class="row mt-2">
                            <div class="col-2 text-center pt-2">
                                Starting at:
                            </div>
                            <div class="col-4">
                                {{ui-calendar date=alert_setting.start_time onChange=(action (mut alert_setting.start_time)) placeholder=alert_setting.start_time }}
                            </div>
                            {{#if errors.start_time}}
                            <div class="col-4 pl-2 pt-2">

                                <div class="invalid-feedback d-block">Please select start time</div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="card-footer px-4 py-2 mb-2">
                    <div class="d-flex p-0">
                        <a href="#" class="btn btn-link btn-secondary" {{action "previousStep"}}><i
                                class="fe fe-arrow-left"></i>Go Back</a>
                        <button class="btn btn-primary ml-auto" {{action "nextStep" 5}}>Next <i
                                class="fe fe-arrow-right"></i></button>

                    </div>
                </div>
                {{/if}}
                {{#if (eq step 6)}}
                <div class="row text-center p-8">
                    <div class="col-12">
                        <i class="fe fe-check-circle h1 text-green"></i>
                    </div>
                    <div class="col-12 h3">
                        All Set
                    </div>
                </div>
                <div class="card-footer px-4 py-2">
                    <div class="d-flex p-0">
                        <a href="#" class="btn btn-link btn-secondary" {{action "previousStep"}}><i
                                class="fe fe-arrow-left"></i>Go Back</a>
                    </div>
                </div>
                {{/if}}

            </div>
        </div>
    </div>
</div>