<div class="pl-3 pt-0">
    <form class="card">
        <div class="card-body">
            <div class="form-group">
                <label class="form-label">Name</label>
                {{input type="text" name="first-name" class=(if organization.errors.name "form-control is-invalid" "form-control") placeholder="Localhost Technologies Pvt. Ltd." value=organization.name}}
                {{#if organization.errors.name}}<div class="invalid-feedback">{{organization.errors.name.0.message}}
                </div>{{/if}}
            </div>
            <div class="form-group">
                <label class="form-label">Google Domain</label>
                {{input  class=(if organization.errors.google_domain "form-control is-invalid" "form-control") type="text" name="first-name" placeholder="example.com" value=organization.google_domain}}

                {{#if organization.errors.google_domain}}<div class="invalid-feedback">
                    {{organization.errors.google_domain.0.message}} </div>{{/if}}
                <small class="text-muted">Users with this google domain will be able to login on Afterglow. Once they
                    login they will be automatically assigned the organization.</small>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" type="submit" {{action 'saveOrganization'}}>SAVE</button>
        </div>
    </form>
</div>