<div class="ui grid">
    <div class="ten wide column ">
        {{#if (and editing canEdit)}}
        <div class="ui form">
            <div class="field">
                {{input value=questionName class="ui" placeholder=questionName }}
            </div>
        </div>
        {{else}}
        <div class="dashboard-title">
             <i class="{{question.icon}} icon"></i>
            {{questionName}}
        </div>
        {{/if}}
    </div>
    <div class="six wide column text-align-right ">
        {{#if validQuestion}}
            {{#if (and editing canEdit)}}
            <button data-tooltip="Save Question" data-inverted=""  class="ui very basic violet button" {{action 'saveQuestion'}}>
                SAVE
            </button>
            <button data-tooltip="Cancel Editing Question" data-inverted=""  class="ui very basic grey button" {{action 'cancelEditingQuestion'}}>
                CANCEL
            </button>
            <button data-tooltip="Delete Question" data-inverted=""  class="ui very basic red button" {{action 'showDeleteDialogue'}}>
                DELETE
            </button>
            {{else}}
            {{#if canEdit}}
                <span data-tooltip="Edit" data-inverted=""  >  
                    <i class="pencil icon" {{action 'editQuestion'}}></i>
                </span>
            {{/if}}
            {{/if}}
        {{/if}}
        {{#if (and validQuestion canEdit)}}
            <span data-tooltip="Share" data-inverted="">  
                <i class="square share icon"  {{action 'showShareDialogue'}} ></i>
            </span>
            <span data-tooltip="Create A Snapshot" data-inverted="">  
                <i class="square copy icon"  {{action 'showSnapshotMaker'}} ></i>
            </span>
        {{/if}}
        {{#if (and enableAddToDashboard canEdit)}}
            <span data-tooltip="Add to Dashboard" data-inverted=""  {{action 'showAddToDashboard'}}>
                <i class="block layout icon" ></i>
            </span>
        {{/if}}
            <span data-tooltip="Toggle Variable Window" data-inverted=""  {{action 'toggleVariableWindow'}} data-position="left center">
                <i class="superscript icon" ></i>
            </span>
    </div>
</div>
{{delete-dialogue entityName="question" entity=question delete="deleteQuestion"}}
{{share-entity entityName="Question" entity=question}}
