<div class="header collapse d-lg-flex p-0">
    <div class="container">
        <div class="nav nav-tabs border-0 flex-column flex-lg-row py-3 px-0">
            <div class="row full">
                <div class="col">
                    {{#if (and editing canEdit)}}
                    <div class="form-group my-0">
                        {{input class="form-control js-question_title" value=questionName class="ui" placeholder=questionName }}
                    </div>
                    {{else}}
                    <div class="text-default">
                        <i class="{{question.icon}}"></i> {{questionName}} </div>
                    {{/if}}
                </div>
                <div class="col text-right {{if editing 'pt-1'}} ">
                    {{#if validQuestion}}
                    {{#if canEdit}}
                    <button class="btn btn-link text-primary py-0 align-baseline" {{action 'saveQuestion'}}>
                        {{#bs-tooltip placement="top" }}Save Question{{/bs-tooltip}} SAVE </button>
                    {{/if}}
                    {{#if (and editing canEdit)}}
                    <button class="btn btn-link text-gray py-0 align-baseline" {{action 'cancelEditingQuestion'}}>
                        {{#bs-tooltip placement="top" }}Cancel Editing Question{{/bs-tooltip}} CANCEL </button>
                    <button class="btn btn-link text-red py-0 align-baseline" {{action 'showDeleteDialogue'}}>
                        {{#bs-tooltip placement="top" }}Delete Question{{/bs-tooltip}} DELETE </button>
                    {{else}}
                    {{#if canEdit}}
                    <span class="d-inline-flex">
                        {{#bs-tooltip placement="top" }}Edit{{/bs-tooltip}}
                        <div class="btn btn-link text-primary py-0" {{action 'editQuestion'}}>EDIT</div>
                    </span>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                    {{#if (and validQuestion canEdit)}}
                    <span class="d-inline-flex">
                        {{#bs-tooltip placement="top" }}Share{{/bs-tooltip}}
                        <div class="btn btn-link text-primary py-0" {{action 'showShareDialogue'}}>SHARE</div>
                    </span>
                    {{/if}}
                    {{#bs-dropdown direction="left" class="d-inline" as |dd|}}
                    {{#dd.toggle class="btn btn-link text-primary py-0"}} MORE {{/dd.toggle}}
                    {{#dd.menu class="dropdown-menu-arrow" as |ddm|}}
                    {{#if (and (and validQuestion canCreateSnapshot) canEdit)}}
                    {{#ddm.item}}
                    <a class="dropdown-item border-bottom" {{action 'showSnapshotMaker'}}>Create
                        Snapshots/Schedule Report</a>
                    {{/ddm.item}}
                    {{/if}}
                    {{#if (and (and validQuestion question.id) canEdit)}}
                    {{#ddm.item}}
                    <a class="dropdown-item border-bottom" {{action 'showApiActionModal'}}>Add an API
                        Action</a>
                    {{/ddm.item}}
                    {{#ddm.item}}
                    <a class="dropdown-item border-bottom" {{action 'showAddTags'}}>Add Tags</a>
                    {{/ddm.item}}
                    {{#if (gt question.snapshots.length 0)}}
                    {{#ddm.item}}
                    {{#bs-tooltip placement="top" }}{{/bs-tooltip}}
                    {{#link-to "questions.show.snapshots.all" question.id class="dropdown-item border-bottom"}}view
                    {{question.snapshots.length}}
                    snapshot(s){{/link-to}}
                    {{/ddm.item}}
                    {{/if}}
                    {{/if}}
                    {{#if (and enableAddToDashboard canEdit)}}
                    {{#ddm.item}}
                    <a class="dropdown-item border-bottom" {{action 'showAddToDashboard'}}> Add
                        Question to Dashboard</a>
                    {{/ddm.item}}
                    {{/if}}
                    {{#ddm.item}}
                    <a class="dropdown-item" {{action 'toggleVariableWindow'}}>Toggle Variable Window</a>
                    {{/ddm.item}}
                    {{/dd.menu}}
                    {{/bs-dropdown}}
                </div>
            </div>
        </div>
    </div>
</div> {{delete-dialogue entityName="question" open=toggleDeleteDialogue entity=question delete="deleteQuestion"}}
{{share-entity entityName="Question" entity=question open=toggleShareModal}}
{{add-tag entityName="Question" entity=question open=toggleTagsModal}}
{{add-to-dashboard question=question addToDashboard='addToDashboard' open=toggleAddToDashboardModal }}
{{snapshot-creator question=question open=toggleSnapshotModal startTime=snapshotStartTime}}
{{widget-creator question=question open=toggleWidgetModal}}
{{api-action-modal apiAction=apiAction open=toggleApiActionModal}}