<div class="padded-content ui segment full no-border-radius no-border-top no-bottom-margin">
    <div class="ui grid">
        <div class="six wide column">
            {{#if editMode}}
                <div class="ui form">
                    <div class="field">
                        <label>Title</label>
                        {{input value=dashboard.title class="ui"}}
                    </div>
                    <div class="field">
                        <label>Description</label>
                        {{input value=dashboard.description class="ui" }}
                    </div>
                </div>

            {{else}}
                <div class="dashboard-title">
                    {{dashboard.title}}
                </div>
            {{/if}}
        </div>
        <div class="four wide column text-align-center">
            {{#if editMode}}
            {{else}}
                <div data-tooltip="Refresh Now" data-inverted=""  class="ui violet text" {{action 'refreshNow'}}>
                    REFRESH
                </div>
            {{/if}}
        </div>
        <div class="six wide column text-align-right {{if editMode  "options-dashboard"}}">
            {{#if (and editMode (not (can "edit dashboard")))}}
                <button data-tooltip="Cancel Editing Dashboard" data-inverted=""  class="ui very basic grey button" {{action 'cancelEditingDashboard'}}>
                    CANCEL
                </button>
            {{/if}}
            {{#if (can "edit dashboard")}}
                {{#if editMode}}
                    <button data-tooltip="Save Dashboard" data-inverted=""  class="ui very basic violet button" {{action 'saveDashboard'}}>
                        SAVE
                    </button>

                    <button data-tooltip="Cancel Editing Dashboard" data-inverted=""  class="ui very basic grey button" {{action 'cancelEditingDashboard'}}>
                        CANCEL
                    </button>

                    <button data-tooltip="Delete Dashboard" data-inverted=""  class="ui very basic red button" {{action 'showDeleteDialogue'}}>
                        DELETE
                    </button>
                {{else}}

                    <span data-tooltip="Edit Dashboard" data-inverted=""  >  
                        <i class="pencil icon" {{action 'editDashboard'}}></i>
                    </span>
                {{/if}}
                <span data-tooltip="Share Dashboard" data-inverted=""  >  
                    <i class="share icon" {{action 'showShareDialogue'}}></i>
                </span>

                <span data-tooltip="Variables" data-inverted=""  data-position="top right">
                    <i class="superscript icon" {{action 'showVariablesDialogue'}}></i>
                </span>
            {{/if}}
            {{#if fullScreen}}
                <span data-tooltip="Exit Fullscreen" data-inverted=""  data-position="top right">
                    <i class="compress icon" {{action 'toggleFullScreen'}}></i>
                </span>
            {{else}}
                <span data-tooltip="Go Fullscreen" data-inverted=""  data-position="top right">
                    <i class="expand icon" {{action 'toggleFullScreen'}}></i>
                </span>
            {{/if}}
            <span data-tooltip="Refresh Interval: {{refreshInterval.name}}" data-inverted=""  data-position="top right">  

                {{#ui-dropdown class="ui dropdown menu-item"}}
                    {{dropdown-default  default=null icon="refresh"}}
                    <div class="menu left">
                        {{#each refreshIntervals as |refreshInterval|}}
                            <div class="item" {{action 'setRefreshInterval' refreshInterval}}>
                                {{refreshInterval.name}}
                            </div>
                        {{/each}}
                    </div>
                {{/ui-dropdown}}
            </span>
        </div>
    </div>
</div>
<div class="ui basic segment padded-content full no-top-margin">
    {{variables-layer variables=dashboard.variables}}
    {{dashboard-grid editing=editMode dashboard=dashboard }}
</div>
{{delete-dialogue entityName="dashboard" entity=dashboard delete="deleteDashboard"}}
{{share-entity entityName="Dashboard" entity=dashboard}}
{{dashboard-select-variables dashboard=dashboard isEditing=editMode}}
