<div class="create-variable content">
    <div class="ui grid">
        <div class="ui form full">
            <div class="sixteen wide column">
                <div class="field">
                    <label>Name (mendatory)</label>
                    {{input value=variable.name class="ui" placeholder="Variable name" }}
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="field">
                    <label>Type</label>
                    {{#ui-dropdown class="search selection" selected=variable.var_type onChange=(action (mut variable.var_type)) as |execute mapper|}}
                        {{dropdown-default object=variable.var_type default="string"}}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each variableTypes as |variableType|}}
                                <div class="item" data-value={{variableType}}>
                                    {{variableType}}
                                </div>
                                <!-- {{/each}} -->
                        </div>
                    {{/ui-dropdown}}
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="field">
                    <label>Default (mendatory)</label>
                    {{#if showDatePicker}}
                        {{ui-calendar date=default_date onChange=(action (mut default_date)) placeholder="current_date" }}
                        <div class="ui horizontal divider">or</div>
                        {{input value=variable.default class="ui" placeholder="current_date" }}
                    {{else}}
                    {{input value=variable.default class="ui" placeholder="default" }}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
