<div class="create-variable content">
    <div class="row w-100">
        <div class="form-group w-100">
            <div class="col-12">
                    <label class="form-label text-default">Name
                        <span class="form-required">*</span>
                    </label>

                    {{input class="form-control" value=variable.name class="ui" placeholder="Variable name" }}
            </div>
            <div class="col-12">
                    <label class="form-label text-default mt-2">Type
                        <span class="form-required">*</span>
                    </label>
  {{searchable-select
      content=variableTypes
      sortBy="title"
      prompt="Select a Variable Type"
      selected=varTypeHash
      on-change=(action 'updateVarType')}}
            </div>
            {{#if dynamic}}
            <div class="col-12">
                    <label class="form-label text-default mt-2">Question Filter
                        <span class="form-required">*</span>
                    </label>
  {{searchable-select
      content=questions
      sortBy="title"
      prompt="Select a Filter Question"
      selected=variable.question_filter
      on-search=(action "updateQuestionSearch")
      on-change=(action (mut variable.question_filter))}}
            </div>

            <div class="col-12">
                <label class="form-label text-default mt-2">
                    Default
                    <span class="form-required">*</span>
                    </label>
                {{accordion-multiselect label="Default Options" selection=variable.default_options options=variable.questionFilterOptions labelProperty='name' placeholder="select few options"}}
            </div>
            {{else}}
            <div class="col-12">
                    <label class="form-label text-default mt-2">Default
                        <span class="form-required">*</span>
                    </label>
                    {{#if showDatePicker}}
                        {{ui-calendar class="form-control" date=default_date onChange=(action (mut default_date)) placeholder="current_date" }}
                        <div class="ui horizontal divider">or</div>
                        {{input class="form-control" value=variable.default class="ui" placeholder="current_date" }}
                    {{else}}
                    {{input class="form-control" value=variable.default class="ui" placeholder="default" }}
                    {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
