{{#dd.menu renderInPlace=false as |ddm|}}
<div class="menu-content">
    {{#if groupBy.selected.raw}}
    <div class="switch" {{action 'switchToBuilder' 'groupBys' groupBy true}}> {{bs-tooltip title="Switch To Builder"}}
        <i class="fe fe-list text-gray"></i>
    </div>
    {{input value=groupBy.selected.value class="form-control my-2" placeholder="Something complex" }}
    {{else}}
    <div class="switch" {{action 'switchToRaw' 'groupBys' groupBy true}}> {{bs-tooltip title="Switch To Raw"}}
        <i class="fe fe-code text-gray"></i>
    </div>
    {{#if (eq state 1)}}
    {{custom-single-select-content 
    elseMessage="Column does not exist."
    options=columns value=groupBy.selected
    selectCallbackAction="selectedColumn"
    helpText="Aggregates like count, average etc. are required to view meaningful data when adding a
    grouping. So don't forget to add a view. "
    displayKey="human_name" }}
    {{/if}}


    {{#if (eq state 2)}}
    {{#if isGroupByDateType}}
    {{custom-single-select-content 
    elseMessage="No Such View is supported. Use Raw for complex views"
    selectCallbackAction='addNewGroupBy'
    options=groupByDateTypes value=groupBy.castType
    hideSearch=true
    helpText="Aggregates like count, average etc. are required to view meaningful data when adding a
    grouping. So don't forget to add a view. "
    displayKey="name" }}
    {{/if}}
    {{/if}}
    {{/if}}


</div>
{{#if showAddGroupBy}}
<div class="btn btn-primary mt-2 w-100" {{action "addNewGroupBy" }}> <i class="fe fe-plus"></i>
    Add
    Grouping</div>
{{else}}
<div class="btn btn-primary mt-2 w-100" {{action "close" }}>
    done</div>

{{/if}}
{{/dd.menu}}