{{base-header goToDashboard="goToDashboard" invalidateSession='invalidateSession' openSearch="openSearch"}}

{{outlet}}
<div class="pb-8">
</div>
{{base-footer}}
{{keyboard-shortcuts-help}}
{{#if showSearch}}
{{search-box goToDashboard='goToDashboard' goToQuestion='goToQuestion' goToTag='goToTag'}}
{{/if}}
{{vim-easymotion}}